{% extends 'SitetheoryProfileBundle::Profile.html.twig' %}


{% block link %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheoryprofile/css/Profile.css') }}">

{% endblock link %}


{# TODO: make CMS manage menu #}
{% set sectionNameHardCoded = 'Candidates' %}
{% set sectionMenuHardCoded = '1' %}
{% set sectionMenuActive = 'candidatesActive' %}


{% block pageTitle %}
    <div class="siteMaxWidth siteSidePadding">
        <h1 class="pageTitle">
            <span class="starLeft">
                <span class="starRight">Candidates</span>
            </span>
        </h1>
    </div>
{% endblock pageTitle %}

{#
{% block contentHeader %}
    {% if content.version.description is not empty %}
        <div class="contentHeader profileDetails clearfix">

            <p class="pullout">
                {% block contentHeaderText %}
                    {{ content.version.description|raw }}
                {% endblock contentHeaderText %}
            </p>

            <div class="borderDashedBold">&nbsp;</div>

        </div>
    {% endif %}
{% endblock contentHeader %}
#}

{% block contentType %}

    <div id="contentProfile-{{ content.id }}" class="contentProfile profileDetails">

        <div class="clearfix">

            <div class="profileImageContainer positionAnchor">


                <div class="profileImage primary-image">
                    {% block profileImage %}
                        {% set image = content.version.images|first %}
                        <img stratus-src="{{ image is not empty ? image.url : asset('bundles/sitetheoryprofile/images/profilePlaceholder.png') }}" alt="">
                    {% endblock profileImage %}
                </div>


                <div class="profileLocation positionLeftBottom">
                    <div class="purple colorBox clearfix">
                        <p class="fontPrimary">
                        <span class="starLeft starWhite">
                            <span class="starRight starWhite">
                                {% block profileLocation %}
                                    {{ content.version.subtitle }}
                                {% endblock profileLocation %}
                            </span>
                        </span>
                        </p>
                    </div>
                </div>


            </div>

            {% if content.version.title is not empty %}
                <h1 class="fontTertiary">{{ content.version.title }}</h1>
            {% endif %}

            <h4 class="profilePosition">
                {% block profilePosition %}
                    {{ content.version.meta.position }}
                {% endblock profilePosition %}
            </h4>


            {#
            {% if content.version.meta.position is not empty %}

                <h4 class="position" data-type="text"
                    data-property="version.meta.position" {{ block('editableContentAttributes') }}>{{ content.version.meta.position }}</h4>

            {% endif %}
            #}

            <div class="content profileDescription" data-type="editor" data-property="version.text" {{ block('editableContentAttributes') }}>
                {% autoescape false %}
                    {{ content.version.text }}
                {% endautoescape %}
            </div>

        </div>

        <div class="borderDashedBold">&nbsp;</div>

        <div class="clearfix">
            <div class="stGrid column50">
                <div class="candidateDetailsJoin joinForm">
                    <h3 class="fontSecondary salmonText">Sign Up!</h3>
                    <p>To support {{ content.version.title }} for Congress.
                    </p>
                    {{ block('registrationForm') }}
                </div>
            </div>
            <div class="stGrid column50">
                <div class="candidateCallToAction">
                    <h3 class="fontSecondary salmonText">Already Signed Up?</h3>
                    <p>It will take millions of dollars and thousands of volunteers to elect a Brand New Congress. Your dollars and your minutes matter!
                    </p>
                    <div class="candidateActionBtns">
                        <a class="btn btnSalmon" href="/volunteer">Volunteer</a>
                        <a class="btn" href="https://secure.actblue.com/contribute/page/brandnewcongress" target="_blank">Donate</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock contentType %}


{# Hide footer signup form #}
{% block footerJoin %}
{% endblock footerJoin %}
