{% extends 'SitetheoryProfileBundle::Profile.html.twig' %}


{% block link %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheoryprofile/css/Profile.css') }}">

{% endblock link %}


{# TODO: make CMS manage menu #}
{% set sectionNameHardCoded = 'Candidates' %}
{% set sectionMenuHardCoded = '1' %}
{% set sectionMenuActive = 'candidatesActive' %}


{# CREATE DEFAULT VALUES FOR THE CUSTOM FIELDS #}
{% set candidateUrl = content.version.meta.urls|length ? content.version.meta.urls[0].value : ''  %}
{% set donateUrl = candidateUrl ~ '/donate' %}
{% set storeUrl = candidateUrl|length ? candidateUrl ~ '/store' : 'https://shop.brandnewcongress.org' %}
{% set candidateSlug = content.version.custom.candidateSlug ?? content.version.title | replace({' ': '-', '.': ''})  %}
{# set the candidate and subscriptions on the signup form #}
{% set joinSubscriptions = content.version.custom.joinSubscriptions|length ? content.version.custom.joinSubscriptions | join(',') : '' %}





{% block pageTitle %}
    <div class="siteMaxWidth siteSidePadding">
        <h1 class="pageTitle">
            <span class="starLeft">
                <span class="starRight">Candidates</span>
            </span>
        </h1>
    </div>
{% endblock pageTitle %}

{#
{% block contentHeader %}
    {% if content.version.description is not empty %}
        <div class="contentHeader profileDetails clearfix">

            <p class="pullout">
                {% block contentHeaderText %}
                    {{ content.version.description|raw }}
                {% endblock contentHeaderText %}
            </p>

            <div class="borderDashedBold">&nbsp;</div>

        </div>
    {% endif %}
{% endblock contentHeader %}
#}

{% block contentType %}


    <div id="contentProfile-{{ content.id }}" class="contentProfile profileDetails" {{ block('editableContent') }}>

        <div class="clearfix">

            <div class="profileImageContainer positionAnchor">

                <div class="profileImage primary-image">
                    {% block profileImage %}
                        {% set image = content.version.images|first %}
                        <img stratus-src="{{ image is not empty ? image.url : asset('bundles/sitetheoryprofile/images/profilePlaceholder.png') }}" alt="">
                    {% endblock profileImage %}
                </div>

                <div class="profileLocation positionLeftBottom">
                    <div class="purple colorBox clearfix">
                        <p class="fontPrimary">
                        <span class="starLeft starWhite">
                            <span class="starRight starWhite">
                                {% block profileLocation %}
                                    {% if environment.mode == 'preview' %}
                                        <span stratus-edit ng-model="model" property="version.custom.state">{{ content.version.custom.state }}</span>
                                        <span stratus-edit ng-model="model" property="version.custom.districtOrdinal">{{ content.version.custom.districtOrdinal }}</span>
                                    {% elseif content.version.title is not empty %}
                                        {{ content.version.custom.state }} {{ content.version.custom.districtOrdinal }}
                                    {% endif %}
                                {% endblock profileLocation %}
                            </span>
                        </span>
                        </p>
                    </div>
                </div>

            </div>

            {% if environment.mode == 'preview' %}
                <h1 class="fontTertiary" stratus-edit ng-model="model" property="version.title">{{ content.version.title }}</h1>
            {% elseif content.version.title is not empty %}
                <h1 class="fontTertiary">{{ content.version.title }}</h1>
            {% endif %}


            {% block profilePosition %}
                {% if environment.mode == 'preview' %}
                    <h4 class="profilePosition" stratus-edit ng-model="model" property="version.meta.position">{{ content.version.meta.position }}</h4>
                {% elseif content.version.meta.position is not empty %}
                    <h4 class="profilePosition">{{ content.version.meta.position }}</h4>
                {% endif %}
            {% endblock profilePosition %}

            {% if environment.mode == 'preview' %}
                <stratus-edit ng-cloak ng-model="model" property="version.text">
                    <stratus-edit-view>
                        <div class="content profileDescription" ng-cloak ng-class="{ liveEdit: Stratus.Environment.data.liveEdit }"
                             ng-bind-html="$parent.value">
                            {% autoescape false %}
                                {{ content.version.text }}
                            {% endautoescape %}
                        </div>
                    </stratus-edit-view>
                    <stratus-edit-input>
                        <textarea froala ng-cloak ng-model="$parent.value" aria-label="Content Body"></textarea>
                    </stratus-edit-input>
                </stratus-edit>
            {% elseif content.version.text is not empty %}
                <div class="content profileDescription">
                    {% autoescape false %}
                        {{ content.version.text }}
                    {% endautoescape %}
                </div>
            {% endif %}

        </div>

        <div class="borderDashedBold">&nbsp;</div>

        <div class="clearfix">
            <div class="stGrid column50">
                <div class="candidateDetailsJoin joinForm">
                    <h3 class="fontSecondary salmonText">Sign Up!</h3>
                    <p>To support {{ content.version.title }} for Congress.
                    </p>
                    {# TODO: once the fields are dynmic we can do this for all candidates #}
                    {% set joinRedirectUrl = donateUrl %}
                    {{ block('registrationForm') }}
                </div>
            </div>
            <div class="stGrid column50">
                <div class="candidateCallToAction">
                    <h3 class="fontSecondary salmonText">Already Signed Up?</h3>
                    <p>It will take millions of dollars and thousands of volunteers to elect a Brand New Congress. Your dollars and your minutes matter!
                    </p>
                    <div class="candidateActionBtns">
                        <a class="btn btnSalmon" href="/volunteer?candidate={{ candidateSlug}}">Volunteer</a>
                        <a class="btn" href="{{ donateUrl }}" target="_blank">Donate</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock contentType %}


{# Hide footer signup form #}
{% block footerJoin %}
{% endblock footerJoin %}
