{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}

{#
########
SETTINGS
########
#}

{# Set Footer Brightness #}
{% set footerBrightness = 'dark' %}

{# Set Footer Site Map Brightness #}
{% set siteMapBrightness = 'dark' %}


{# Hide Sidebar Login until it's dynamically hidden for users with no membership feature #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}

{# Hide sidebar and make main column full width #}
{% if bootstrapColumnSidebar is not defined %}
    {% set bootstrapColumnSidebar = 'flex=0 flex-gt-sm=20' %}
    {% set bootstrapColumnMain = 'flex=100 flex-gt-sm=80' %}
{% endif %}

{% if sectionMenuActive is not defined %}
    {% set sectionMenuActive = 'empty' %}
{% endif %}
{% if sectionMenuHardCoded is not defined %}
    {% set sectionMenuHardCoded = '' %}
{% endif %}

{# Sidebar fonts #}
{%  set navLevel1Font = 'fontPrimary' %}
{%  set navLevel2Font = 'fontSecondary' %}



{#
##################
CSS AND JAVASCRIPT
##################
#}

{# Load Site CSS #}
{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorystratus/stratus/bower_components/angular-material/angular-material.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">
{% endblock link %}


{% block script %}
    {{ parent() }}

    {# SIGNUP FORM #}
    <script>
        (function (root, factory) {
            if (typeof require === 'function') {
                require(['stratus', 'underscore', 'angular', 'angular-material'], factory);
            } else {
                factory(root.Stratus);
            }
        }(this, function (Stratus, _) {

            Stratus.Controllers.SignupController = function ($scope, $element, $http, $attrs, $window) {

                $scope.options = {
                    pattern: {
                        email: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                        zip: /[a-zA-Z0-9 \-]{5,}/
                    },
                    url: 'https://api.brandnewcongress.com/signup',
                    response: {
                        success: 'Thanks for signing up! We\'ll be in touch shortly. In the meantime, please help us with a <a href="https://secure.actblue.com/contribute/page/bncdec" target="_blank">much needed donation</a>.',
                        error: 'Sorry ;( looks like there was an error saving your info. Please email us directly so we can help.'
                    },
                    redirect: {
                        popup: true,
                        url: false,
                        config: null // 'width=400,height=500,toolbar=no,menubar=no,scrollbars=yes,resizable=yes'
                    }
                };

                // Merge Custom Options
                if($attrs.options) _.extend($scope.options, JSON.parse($attrs.options));

                $scope.response = '';

                $scope.data = {
                    email: '',
                    zip: ''
                };


                $scope.submit = function(form) {
                    $scope.response = $scope.options.response.success;
                    var prototype = {
                        method: 'POST',
                        url: $scope.options.url,
                        data: JSON.stringify($scope.data)
                    };
                    var request = $http(prototype).then(
                        // Success
                        function successCallback(response) {
                            if (response && (response.status === 200)) {
                                if($scope.options.redirect.url) {
                                    if ($scope.options.redirect.popup) {
                                        var win = $window.open($scope.options.redirect.url, '_blank', $scope.options.redirect.config);
                                        if(win) win.focus();
                                    } else {
                                        $window.location($scope.options.redirect.url);
                                    }
                                }
                                $scope.response = $scope.options.response.success;
                            } else {
                                $scope.response = $scope.options.response.error;
                            }
                        },
                        // Error
                        function errorCallback(response) {
                            $scope.response = $scope.options.response.error;
                        }
                    );
                }

            };
        }));
    </script>

{% endblock script %}




{#
SIGNUP FORM
#}

{% block registrationForm %}

<form name="Signup" ng-submit="submit(form)" ng-controller="SignupController" options='{"redirect":{"url":"https://secure.actblue.com/contribute/page/bncdec", "popup":true}}' ng-cloak>

    {#<p class="message" ng-show="response.length" ng-bind-html="response"></p>#}
    <p class="message" ng-show="messages.response.length">{% verbatim %}{{ messages.response }}{% endverbatim %}</p>
    <ul class="listInline divCenter fontSecondary">

        {{ registrationFormBefore|default('')|raw }}

        {% verbatim %}
        <li>
            <md-input-container>
                <label>Email</label>
                <input name="email1" type="email" ng-pattern="options.pattern.email" ng-model="data.email" required>
                <div ng-messages="Signup.email1.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid email.
                    </div>
                </div>
            </md-input-container>
        </li>
        <li>
            <md-input-container>
                <label>Zip</label>
                <input name="zip" ng-pattern="options.pattern.zip" ng-model="data.zip" required>
                <div ng-messages="Signup.zip.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid zip code.
                    </div>
                </div>
            </md-input-container>
        </li>
        {% endverbatim %}
        <li>
            <button type="submit" class="btn fakeFormSubmit">{{ textSubmit|default('Count Me In') }}</button>
        </li>

        {{ registrationFormAfter|default('')|raw }}

    </ul>
</form>
{% endblock registrationForm %}



{#
######
LAYOUT
######
#}

{# Add border to bottom of sidebar #}
{% block sidebarExtrasBottom %}
    <div class="borderDashed"></div>
{% endblock sidebarExtrasBottom %}



{% block header1 %}
    <div id="header1">
        <div layout="row">
            <div flex-gt-sm="30" hide-xs hide-sm>
                <div id="planGraphic">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/planGraphic.png') }}" alt="">
                </div>
            </div>
            <div flex="100" flex-gt-sm="40">
                <div class="clearfix">
                    <div id="logoHeader" class="align-center">
                        <a href="/"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogo.png') }}" alt=""></a>
                    </div>
                </div>
            </div>
            <div flex-gt-sm="30" hide-xs hide-sm>
                <div id="headerExtraLinks" class="pullRight">
                    <a href="https://secure.actblue.com/contribute/page/bncsignup" target="_blank" class="btn btnContribute">Contribute</a>
                    <a id="starLinkRight" class="fontTertiary align-right" href="/Volunteer">Help Us</a>
                </div>
            </div>
        </div>
    </div>
{% endblock header1 %}

{% block header2 %}
    <div id="header2" class="positionAnchor">

        <div id="headerContact" class="fontSecondary verticalCenter centerLeft clearfix">
            <a href="mailto:us@brandnewcongress.com" target="_blank">
                <div class="headerOrnament positionAnchor pullLeft">
                    <div class="square square1 easyTransition">
                    </div>
                    <div class="square square2">
                    </div>
                    <div class="square square3 easyTransition">
                    </div>
                </div>
                <div class="btnText">Contact Us</div>
            </a>
        </div>
        {% block mainNavigation %}
            <div id="navMainContainer" class="navMainContainer divCenter">
                <ul class="listInline fontPrimary">
                    <li class="navMainLink">
                        <a href="#footerJoin">
                            Join
                        </a>
                    </li>
                    <li class="delimiter"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/diagonalDelimiter.png') }}" alt="">
                    </li>
                    <li class="navMainLink">
                        <a href="/Nominate">
                            Nominate
                        </a>
                    </li>
                    <li class="delimiter"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/diagonalDelimiter.png') }}" alt="">
                    </li>
                    <li class="navMainLink">
                        <a href="/The-Plan">
                            Learn
                        </a>
                    </li>
                </ul>
            </div>
        {% endblock mainNavigation %}

        <div id="headerSocial" class="verticalCenter">
            <!-- Social Media -->
            {% block socialMedia %}
                <div class="socialMedia {{ socialStyle|default('basicStyle') }}">
                    <ul class="listInline">
                        <li class="twitter">
                            <a class="positionAnchor" href="http://twitter.com/intent/tweet?status=Sign+up+to+help+create+a Brand+New+Congress: http://brandnewcongress.org" title="Share on Twitter" target="_blank" data-reactid="123" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}footerTwitterIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                        <li class="facebook">
                            <a class="positionAnchor" href="http://www.facebook.com/sharer/sharer.php?u=http://brandnewcongress.org&amp;title=Brand+New+Congress" title="Share on Facebook" data-reactid="125" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}footerFacebookIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                        <li class="reddit">
                            <a class="positionAnchor" href="https://www.reddit.com/r/BrandNewCongress/" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/reddit.svg' %}{% block id %}footerRedditIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endblock socialMedia %}
            <!-- End Social Media -->
        </div>
        <div class="headerOrnament verticalCenter centerLeft"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/tripleSquarePurple.png') }}" alt=""></div>
        <div class="headerOrnament verticalCenter centerRight"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/tripleSquarePurple.png') }}" alt=""></div>
    </div>
{% endblock header2 %}


{% block retractingHeaderContent %}
    <div class="clearfix">
        <div id="logoRetractingHeader"  class="verticalCenter">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogoHorizontal.png') }}" alt="">
        </div>
        <div hide-xs hide-sm id="retractingContribute" class="verticalCenter">
            <a href="/" class="btn btnContribute">Contribute</a>
        </div>
        <div>
            {{ block('mainNavigation') }}
        </div>
    </div>
{% endblock retractingHeaderContent %}




{# SIDEBAR #}

{# TODO: Make Dynamic #}

{# Temporary hard coded menu #}
{% block sectionName %}
    <h2 class="sectionName fontPrimary">{{ sectionNameHardCoded|default('') }}</h2>
    <div class="borderDashed"></div>
{% endblock sectionName %}


{% block menuSection1 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="list-unstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Candidates" class="navLevel2 {% if sectionMenuActive == 'candidatesActive' %}active{% endif %}">
                Potential Candidates
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/Nominate" class="navLevel2 {% if sectionMenuActive == 'nominateActive' %}active{% endif %}">
                Nominate a Candidate
            </a>
        </li>
    </ul>
{% endblock menuSection1 %}


{% block menuSection2 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="list-unstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Volunteer" class="navLevel2 {% if sectionMenuActive == 'volunteerActive' %}active{% endif %}">
                Overview
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/Nominate" class="navLevel2 {% if sectionMenuActive == 'nominateActive' %}active{% endif %}">
                Nominate
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="https://goo.gl/forms/CGeULYdVgKTnW72D2" target="_blank" class="navLevel2 {% if sectionMenuActive == 'specialSkillsActive' %}active{% endif %}">
                Special Skills
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="https://docs.google.com/document/d/1Op0OaZNuykCJckSCn4vABDEr4VEdTrMeTsPCZFNSJo4/edit" target="_blank" class="navLevel2 {% if sectionMenuActive == 'organizeLocallyActive' %}active{% endif %}">
                Organize Locally
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/Call" class="navLevel2 {% if sectionMenuActive == 'callActive' %}active{% endif %}">
                Join a Call
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="https://secure.actblue.com/contribute/page/bncdec" target="_blank" class="navLevel2 {% if sectionMenuActive == 'contributeActive' %}active{% endif %}">
                Donate
            </a>
        </li>
    </ul>
{% endblock menuSection2 %}


{% block menuSection3 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="list-unstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/The-Plan" class="navLevel2 {% if sectionMenuActive == 'planActive' %}active{% endif %}">
                Our Plan
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="About-Us" class="navLevel2 {% if sectionMenuActive == 'aboutActive' %}active{% endif %}">
                About Us
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="FAQ" class="navLevel2 {% if sectionMenuActive == 'faqActive' %}active{% endif %}">
                FAQ
            </a>
        </li>
    </ul>
{% endblock menuSection3 %}



{% block navSection %}

    <div hide-xs hide-sm>

        {% if sectionMenuHardCoded == '1' %}
            {{ block('menuSection1') }}
        {% elseif sectionMenuHardCoded == '2' %}
            {{ block('menuSection2') }}
        {% elseif sectionMenuHardCoded == '3' %}
            {{ block('menuSection3') }}
        {% elseif sectionMenuHardCoded == '4' %}
            {{ block('menuSection4') }}
        {% endif %}

    </div>

    <!-- Full nested menu displays only for mobile -->

    <div hide-gt-sm>
        <ul id="listLevel1" class="list-unstyled">
            <li data-level="1">
                <div class="siteNavLink "  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Join
                    </a>
                </div>
            </li>
            <li data-level="1">
                <div class="siteNavLink"  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Candidates
                    </a>
                </div>
                {{ block('menuSection1') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink"  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Work With Us
                    </a>
                </div>
                {{ block('menuSection2') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink {{ navLevel1Font|default('fontPrimary') }}"  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Learn
                    </a>
                </div>
                {{ block('menuSection3') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink"  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Contact
                    </a>
                </div>
                {{ block('menuSection4') }}
            </li>
        </ul>
    </div>


{% endblock navSection %}

{# End temporary hard coded menu #}


{# FOOTER SITE MAP #}
{# TODO: Replace with dynamic version #}

{# Temporary hard coded footer site map #}
{% block footerSiteMap %}
    <div id="siteMapBackground">

        {% block footerJoin %}
            <a name="footerJoin"></a>
            <div id="footerJoinForm" class="purple" ng-cloak>
                {% set registrationFormBefore = '<li><div class="starLeft"></div></li><li><h1>Add Your Name</h1></li>' %}
                {% set registrationFormAfter = '<li><div class="starRight"></div></li>' %}
                {{ block('registrationForm') }}
            </div>
        {% endblock footerJoin %}


        <div id="siteMapContainer" class="siteMaxWidth siteSidePadding fontSecondary dark">



            <div id="siteMapNew" layout="row" layout-wrap hide-xs hide-sm>
                <div flex="20">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="/Candidates">Candidates</a>
                        </li>
                        <li>
                            <a href="/Candidates">Potential Candidates</a>
                        </li>
                        <li>
                            <a href="/Nominate">Nominate a Candidate</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="20">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="/Volunteer">Help Us</a>
                        </li>
                        <li>
                            <a href="/Volunteer">Overview</a>
                        </li>
                        <li>
                            <a href="/Nominate">Nominate a Candidate</a>
                        </li>
                        <li>
                            <a  href="https://goo.gl/forms/CGeULYdVgKTnW72D2" target="_blank">Special Skills</a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/document/d/1Op0OaZNuykCJckSCn4vABDEr4VEdTrMeTsPCZFNSJo4/edit" target="_blank">Organize Locally</a>
                        </li>
                        <li>
                            <a href="/Call">Join a Call</a>
                        </li>
                        <li>
                            <a href="https://secure.actblue.com/contribute/page/bncsignup" target="_blank">Donate</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="20">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="/The-Plan">Learn</a>
                        </li>
                        <li>
                            <a href="/The-Plan">Our Plan</a>
                        </li>
                        <li>
                            <a href="/About-Us">About Us</a>
                        </li>
                        <li>
                            <a href="/FAQ">FAQ</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="20">
                    <div class="siteMapColumn">
                        <ul class="list-unstyled">
                            <li class="siteMapHeader">
                                <div class="fontTertiary">Helpful Links</div>
                            </li>
                            <li>
                                <a href="/https://www.govtrack.us/congress/members" target="_blank">Find Your Congressional District</a>
                            </li>
                            <li>
                                <a href="https://docs.google.com/a/gutensite.com/forms/d/e/1FAIpQLSceYguZI_gngXf7dLOXN6xUkLRNsYfn0b2v-aDEvZKPH-j1dQ/viewform" target="_blank">Suggest a Local Connector</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div flex="20">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="mailto:us@brandnewcongress.org">Contact</a>
                        </li>
                        <li>
                            <a href="mailto:us@brandnewcongress.org">Contact Us</a>
                        </li>
                        <li>
                            {# Social Media #}
                            {% block footerSocialMedia %}
                                {{ block('socialMedia') }}
                            {% endblock footerSocialMedia %}
                        </li>
                    </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock footerSiteMap %}
{# End temporary hard coded footer site map #}


{# FOOTER #}


{% block viewFooter %}
    <div id="footerBackground">
        <div id="footer" class="siteMaxWidth siteSidePadding dark">
            <div id="footerLogo" class="align-center">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogoFooter.png') }}" alt="">
            </div>
            <p class="smallLabel align-center">Send questions to <a href="mailto:us@brandnewcongress.org">us@brandnewcongress.org</a></p>
            <div id="footerCredit" class="align-center">
                <p class="smallLabel">©2016 Brand New Congress. All rights reserved.<br>Paid for by Brand New Congress, brandnewcongress.org, not authorized by any candidate or candidate's committee.</p>
                <a class="smallLabel" href="http://www.sitetheory.io" target="_blank">
                    Website powered by Sitetheory
                </a>
            </div>
        </div>
    </div>

{% endblock viewFooter %}