{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}


{# Load Site CSS #}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorystratus/stratus/bower_components/angular-material/angular-material.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">
{% endblock link %}

{# Set Footer Brightness #}
{% set footerBrightness = 'dark' %}

{# Set Footer Site Map Brightness #}
{% set siteMapBrightness = 'dark' %}


{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}




{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide Sidebar Login until it's dynamic and necessary #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}

{% block navSection %}
{% endblock navSection %}

{% block sectionName %}
{% endblock sectionName %}





{% block header1 %}
    <div id="header1">
        <div layout="row" ng-cloak>
            <div flex="33">
                <div id="planGraphic">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/planGraphic.png') }}" alt="">
                </div>
            </div>
            <div flex="33">
                <div class="clearfix">
                    <div id="logoHeader" class="align-center">
                        <a href="/"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogo.png') }}" alt=""></a>
                    </div>
                </div>
            </div>
            <div flex="33">
                <div id="headerExtraLinks" class="pullRight">
                    <a href="/" class="btn btnContribute">Contribute</a>
                    <a id="linkCandidates" class="fontTertiary align-right" href="#homeCandidates">The Candidates</a>
                </div>
            </div>
        </div>
    </div>
{% endblock header1 %}

{% block header2 %}
    <div id="header2" class="positionAnchor">

        <div id="headerContact" class="fontSecondary verticalCenter centerLeft clearfix">
            <a href="/">
                <div class="headerOrnament positionAnchor pullLeft">
                    <div class="square square1 easyTransition">
                    </div>
                    <div class="square square2">
                    </div>
                    <div class="square square3 easyTransition">
                    </div>
                </div>
                <div class="btnText">Contact Us</div>
            </a>
        </div>
        {% block mainNavigation %}
            <div id="navMainContainer" class="navMainContainer divCenter">
                <ul class="listInline fontPrimary">
                    <li class="navMainLink">
                        <a href="#footerJoin">
                            Join
                        </a>
                    </li>
                    <li class="delimiter"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/diagonalDelimiter.png') }}" alt="">
                    </li>
                    <li class="navMainLink">
                        <a href="">
                            Nominate
                        </a>
                    </li>
                    <li class="delimiter"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/diagonalDelimiter.png') }}" alt="">
                    </li>
                    <li class="navMainLink">
                        <a href="">
                            Learn
                        </a>
                    </li>
                </ul>
            </div>
        {% endblock mainNavigation %}
        <div id="headerSocial" class="verticalCenter">
            <!-- Social Media -->
            {% block socialMedia %}
                <div class="socialMedia {{ socialStyle|default('basicStyle') }}">
                    <ul class="listInline">
                        <li class="twitter">
                            <a class="positionAnchor" href="http://twitter.com/intent/tweet?status=Sign+up+to+help+create+a Brand+New+Congress: http://brandnewcongress.org" title="Share on Twitter" target="_blank" data-reactid="123" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}footerTwitterIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                        <li class="facebook">
                            <a class="positionAnchor" href="http://www.facebook.com/sharer/sharer.php?u=http://brandnewcongress.org&amp;title=Brand+New+Congress" title="Share on Facebook" data-reactid="125" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}footerFacebookIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                        <li class="reddit">
                            <a class="positionAnchor" href="https://www.reddit.com/r/BrandNewCongress/" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/reddit.svg' %}{% block id %}footerRedditIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endblock socialMedia %}
            <!-- End Social Media -->
        </div>
        <div class="headerOrnament verticalCenter centerRight"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/tripleSquarePurple.png') }}" alt=""></div>
    </div>
{% endblock header2 %}


{% block retractingHeaderContent %}
    <div class="clearfix">
        <div id="logoRetractingHeader"  class="verticalCenter">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogoHorizontal.png') }}" alt="">
        </div>
        <div id="retractingContribute" class="verticalCenter">
            <a href="/" class="btn btnContribute">Contribute</a>
        </div>
        <div>
            {{ block('mainNavigation') }}
         </div>
    </div>
{% endblock retractingHeaderContent %}


{% block footerSiteMap %}
    <div id="siteMapBackground" class="hidden-sm">

        {% block footerJoin %}
            <a name="footerJoin"></a>
            <div id="footerJoinForm" class="purple">
                <ul class="listInline divCenter fontSecondary">
                    <li>
                        <div class="starLeft"></div>
                    </li>
                    <li>
                        <h1>Add Your Name</h1>
                    </li>
                    <li>
                        <div class="fakeFormBox">Email</div>
                    </li>
                    <li>
                        <div class="fakeFormBox">Zip</div>
                    </li>
                    <li>
                        <div class="fakeFormSubmit"><a class="btn">Count Me In</a></div>
                    </li>
                    <li>
                        <div class="starRight"></div>
                    </li>
                </ul>
            </div>
        {% endblock footerJoin %}


        <div id="siteMapContainer" class="siteMaxWidth siteSidePadding fontSecondary dark">



            <div id="siteMapNew" layout="row" layout-wrap hide-xs>
                <div flex="25">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="">Candidates</a>
                        </li>
                        <li>
                            <a href="">Nominate a Candidate</a>
                        </li>
                        <li>
                            <a href="">All Candidates</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="25">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="">Get Involved</a>
                        </li>
                        <li>
                            <a href="">Contribute</a>
                        </li>
                        <li>
                            <a href="">Volunteer</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="25">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="">Learn</a>
                        </li>
                        <li>
                            <a href="">Our Plan</a>
                        </li>
                        <li>
                            <a href="">About Us</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">Press</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="25">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="">Get in Touch</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                        <li>
                            {# Social Media #}
                            {% block footerSocialMedia %}
                                {{ block('socialMedia') }}
                            {% endblock footerSocialMedia %}
                        </li>
                    </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock footerSiteMap %}

{% block viewFooter %}
    <div id="footerBackground">
        <div id="footer" class="'siteMaxWidth siteSidePadding dark">
            <p class="smallLabel align-center">Send questions to <a href="mailto:us@brandnewcongress">us@brandnewcongress</a>  |  ©2016 Brand New Congress. All rights reserved. </p>
            <div id="footerLogo" class="align-center">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogoFooter.png') }}" alt="">
            </div>
            <div id="footerCredit" class="align-center">
                <a class="smallLabel" href="http://www.sitetheory.io" target="_blank">
                    Non-profit website by Sitetheory
                </a>
            </div>
        </div>
    </div>

{% endblock viewFooter %}