{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}

{% block link %}
    {{ parent() }}

        <link rel="{{ styleRel('less') }}" type="text/css"
              href="{{ asset('/bundles/sitetheorytemplatecustom/css/site.' ~ styleExt('less')) }}"
              data-file="site.css">
        <link rel="shortcut icon" href="{{ asset('/bundles/sitetheorytemplatecustom/images/favicon.png') }}" type="image/x-icon">

{% endblock link %}

{#
########
SETTINGS
########
#}

{% set socialStyle = 'circle' %}


{# Remove padding on header and header image so mini header can go full width #}
{% set headerRetractingStructure = '' %}
{% set headerStructure = '' %}
{% set headerImageSettings = '' %}


{# Make mobile drawer slide in from right #}
{% set mobileDrawerDirection = 'mobile-drawer-right' %}

{# Hide Sidebar on Desktop #}
{% set displaySidebar = false %}

{# Centered version of footer #}
{% set footerCentered = true %}

{# Set Footer Brightness #}
{% set footerBrightness = 'dark' %}

{# Set Footer Site Map Brightness #}
{% set siteMapBrightness = 'dark' %}

{#
###########
SET FULL OR MINI HEADER
###########
#}
{# If a specific header has not been requested and this is the first page visited on the site, give the full header #}
{% if headerFull is not defined %}
    {% if environment.history|length == 0 %}
        {% set headerFull = true %}
    {% else %}
        {% set headerFull = false %}
    {% endif %}
{% endif %}

{#
###########
SPECIAL APP CLASS TO CONTROL SIDEBAR TOGGLE
###########
#}

{% block appClass %}{% if headerFull == false %}headerIsMini {% endif %}{{ parent() }}{% endblock appClass %}


{#
######
LAYOUT
######
#}

{% block contributeBtn %}
    <a href="https://secure.actblue.com/donate/bnc2020?refcode=Website_form_new_website_October_2019&amount=28&recurring=true" target="_blank" class="btn btn-contribute">Donate</a>
{% endblock contributeBtn %}

{% block contributeLink %}
    https://secure.actblue.com/donate/bnc2020?refcode=Website_form_new_website_October_2019&amount=28
{% endblock contributeLink %}


{% block headerMenuCustom %}
    <md-menu-bar>

        {# Take Action #}
        <md-menu>
            {# Level 1 Link #}
            <md-button class="site-nav-link" data-level="1" ng-click="$mdOpenMenu()">
                Take Action
                <div class="link-extra"></div>
            </md-button>

            <md-menu-content class="" width="3" md-menu-class="header-submenu">
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/Volunteer">
                        Volunteer
                    </md-button>

                </md-menu-item>
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/Join-Brand-New-Congress">
                        Join BNC
                    </md-button>

                </md-menu-item>
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="{{ block('contributeLink') }}">
                        Donate
                    </md-button>

                </md-menu-item>
            </md-menu-content>
        </md-menu>


        {# Candidates #}
        <md-menu>
            {# Level 1 Link #}
            <md-button class="site-nav-link" data-level="1" ng-click="$mdOpenMenu()">
               Candidates
                <div class="link-extra"></div>
            </md-button>


            <md-menu-content class="" width="3" md-menu-class="header-submenu">
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="site-nav-link" data-level="2" href="/Candidates">
                        Candidates 2020
                    </md-button>
                </md-menu-item>
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/About-Brand-New-Congress-Candidate-Nominations">
                        Nominate a Candidate
                    </md-button>
                </md-menu-item>
            </md-menu-content>

        </md-menu>


        {# About #}
        <md-menu>
            {# Level 1 Link #}
            <md-button class="site-nav-link" data-level="1" ng-click="$mdOpenMenu()">
                About
                <div class="link-extra"></div>
            </md-button>

            <md-menu-content class="" width="3" md-menu-class="header-submenu">
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/Platform">
                        Platform
                    </md-button>

                </md-menu-item>
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/Meet-the-Team">
                        Meet the Team
                    </md-button>

                </md-menu-item>
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/About-Brand-New-Congress">
                        About Brand New Congress
                    </md-button>

                </md-menu-item>
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/Contact">
                        Contact
                    </md-button>

                </md-menu-item>
                {# Level 2 Link #}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/Privacy">
                        Privacy
                    </md-button>

                </md-menu-item>
            </md-menu-content>
        </md-menu>


        {# Press #}
        <md-menu>
            {# Level 1 Link #}
            <md-button class="site-nav-link" data-level="1" href="/Media">
                Press
                <div class="link-extra"></div>
            </md-button>


            <md-menu-content class="" width="3" md-menu-class="header-submenu">
                 {#Level 2 Link#}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/Media">
                        See All
                    </md-button>
                </md-menu-item>
                 {#Level 2 Link#}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/News">
                        BNC News
                    </md-button>
                </md-menu-item>
                 {#Level 2 Link#}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/In-the-Press">
                        Press Coverage
                    </md-button>
                </md-menu-item>
                 {#Level 2 Link#}
                <md-menu-item>
                    <md-button class="link2 site-nav-link" data-level="2" href="/Media-Releases">
                        Press Releases
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </md-menu-bar>
{% endblock headerMenuCustom %}

{% block headerContent %}

    {#<h1>Refresh</h1>#}
    {# The header in this design is extra tall so it's only used on the home page #}
    {% if headerFull == true %}
        <div class="header-content site-max-width site-side-padding" ng-cloak>
            <div class="header1" layout="column" layout-gt-xs="row" layout-align-gt-xs="space-between center" flex>
                    <div class="mission" no-flex flex-gt-xs="25" flex-order="2" flex-order-gt-xs="1">
                        <h4>Our Mission</h4>
                        <p>To elect regular working people to Congress who put people before party to make government more accountable and responsive to the needs of all Americans.</p>
                    </div>
                    <div class="logo-header text-center" flex flex-order="1" flex-order-gt-xs="2">
                        <a href="/" aria-label="Go to Home"><img
                                    src="{{ asset('bundles/sitetheorytemplatecustom/images/Brand-New-Congress-Logo.png') }}"
                                    alt="Brand New Congress Logo"></a>
                    </div>
                    <div class="header-extra-links" no-flex flex-gt-xs="25" flex-order="3">
                        <div class="float-links">
                            {{ block('socialMedia') }}
                            {{ block('contributeBtn') }}
                        </div>
                    </div>
                </div>
                <div class="header2">
                    <div layout="row" layout-align="space-between center" flex>
                        <a class="header-contact" href="/Contact" no-flex>Contact</a>
                        <div class="header-menu-container" flex>
                            {% block navMain %}
                            <div class="menu menu-nested header-menu"
                                 role="navigation">
                               {{ block('headerMenuCustom') }}
                            </div>
                            {% endblock navMain %}
                        </div>
                        <a class="header-shop" href="https://shop.brandnewcongress.org/" target="_blank" no-flex>Shop</a>
                    </div>
                </div>
        </div>
    {% else %}

        {# Mini header is identical to retracting header but used on secondary pages as the primary header since home page header design is unusually tall #}
        {% block headerMini %}
            <div class="mini-header" ng-cloak>
                <div class="site-side-padding">
                    <div layout="row" layout-align="space-between center" flex>
                        <div class="logo-mini-header" no-flex flex=100 flex-gt-xs="15" flex-gt-s="20">
                            <a href="/">&nbsp;</a>
                        </div>
                        <div flex>
                            {{ block('navMain') }}
                        </div>
                        <div class="contribute-mini-header" no-flex flex="20">
                            {{ block('contributeBtn') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock headerMini %}

    {% endif %}


{% endblock headerContent %}

 {#Retracting header uses only a few elements from the full header. Must come before mini header which is identical.#}
{% block headerRetractingContent %}
    {#<h1>This</h1>#}
    <div ng-cloak>
        <div layout="row" layout-align="space-between center" flex>
            <div class="logo-retracting-header" no-flex flex-xs="50" flex-gt-xs="20">
                <a href="/">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/Brand-New-Congress-Logo-Horizontal.png') }}" alt="Brand New Congress Logo">
                </a>
            </div>
            <div flex>
                {{ block('navMain') }}
            </div>
            <div class="retracting-contribute" no-flex flex="20">
                {{ block('contributeBtn') }}
            </div>
        </div>
    </div>
{% endblock headerRetractingContent %}


{% block sidebarContent %}
    {{ block('contributeBtn') }}
    {{ parent() }}
{% endblock sidebarContent %}


{# Temporary Sidebar Navigation #}
{% block navMobileDrawer %}

    <div class="menu menu-nested sidebar-menu"
         role="navigation">
        <div class="clearfix">
            <ul class="list-level1 clearfix">

                {# Level 1 #}
                <li>
                    <a href="/Candidates" id=""
                       class="site-nav-link active" data-level="1">
                        Candidates
                        <div class="nav-extra"></div>
                    </a>

                    {# Level 2 #}
                    <ul class="list-level2">
                        <li>
                            <a href="/Candidates" class="site-nav-link" data-level="2">
                                Candidates 2020
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="/About-Brand-New-Congress-Candidate-Nominations" class="site-nav-link" data-level="2">
                                Nominate a Candidate
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                    </ul>
                </li>

                {# Level 1 #}
                <li>
                    <a href="/Volunteer" class="site-nav-link" data-level="1">
                        Take Action
                        <div class="nav-extra"></div>
                    </a>

                    {# Level 2 #}
                    <ul class="list-level2">
                        <li>
                            <a href="/Volunteer" class="site-nav-link" data-level="2">
                                Volunteer
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="/Join-Brand-New-Congress" class="site-nav-link" data-level="2">
                                Join BNC
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ block('contributeLink') }}" target="_blank" class="site-nav-link" data-level="2">
                                Donate
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                    </ul>
                </li>

                {# Level 1 #}
                <li>
                    <a href="/Meet-the-Team" class="site-nav-link" data-level="1">
                        About
                        <div class="nav-extra"></div>
                    </a>

                    {#Level 2#}
                    <ul class="list-level2">
                        <li>
                            <a href="/Meet-the-Team" class="site-nav-link" data-level="2">
                                Meet the Team
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="/About-Brand-New-Congress" class="site-nav-link" data-level="2">
                                About Brand New Congress
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="/Platform" class="site-nav-link" data-level="2">
                                Platform
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="/Contact" class="site-nav-link" data-level="2">
                                Contact
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="/Privacy" class="site-nav-link" data-level="2">
                                Privacy
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                    </ul>
                </li>

                {# Level 1 #}
                <li>
                    <a href="/News" class="site-nav-link" data-level="1">
                        Press
                        <div class="nav-extra"></div>
                    </a>

                    {#Level 2#}
                    <ul class="list-level2">
                        <li>
                            <a href="/News" class="site-nav-link" data-level="2">
                                BNC News
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="/In-the-Press" class="site-nav-link" data-level="2">
                                Press Coverage
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                        <li>
                            <a href="/Media-Releases" class="site-nav-link" data-level="2">
                                Press Releases
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                    </ul>
                </li>

                {# Level 1 #}
                <li>
                    <a href="https://shop.brandnewcongress.org/" target="_blank"  class="site-nav-link" data-level="1">
                        Shop BNC
                        <div class="nav-extra"></div>
                    </a>
                </li>

            </ul>
        </div>

    </div>

{% endblock navMobileDrawer %}




{% block footerExtras %}
    <a class="footer-logo" href="/">
        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/Brand-New-Congress-Logo-Footer.png') }}" alt="Brand New Congress Logo"></a>
    </a>
{% endblock footerExtras %}


{% block vendorCreditLogo %}
    <div class="credit-logo-image">
        <a href="//gutensite.com" target="_blank">
            <div class="vendor-logo-svg">
                {% embed '@SitetheoryTemplateCustomBundle/Resources/public/images/gutensite-logo-footer-credit.svg' %}{% block id %}sitetheory-logo-footer-logo{% endblock %}{% endembed %}
            </div>
        </a>
    </div>
{% endblock vendorCreditLogo %}


{# TEMPORARY FOOTER SITE INFO #}
{#{% block footerSiteInfo %}#}
    {#<div class="footer-site-info site-contact-short font-body"><a href="mailto:us@brandnewcongress">us@brandnewcongress</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="tel:202-769-3944">202-769-3944</a>&nbsp;&nbsp;|&nbsp;&nbsp;PO Box 1024 Springdale, AR 72765<br>Paid for by Brand New Congress, not authorized by any candidate or candidate committee.#}
    {#</div>#}
{#{% endblock footerSiteInfo %}#}


{% block footer %}
    <div class="sitemap-background clearfix">

        {% if siteMapStructure is not defined %}
            {% set siteMapStructure = 'site-max-width site-side-padding' %}
        {% endif %}

        <div class="site-map-container {{ siteMapStructure }} {{ siteMapBrightness }}">

            {% block siteMapLabel %}
            {% endblock siteMapLabel %}

            <div class="menu menu-sitemap">

                <div class="clearfix">
                    <ul class="list-level1 clearfix">

                        {# Level 1 #}
                        <li style="width: 20%;">
                            <a href="/Candidates" id=""
                               class="site-nav-link active" data-level="1">
                                Candidates
                                <div class="nav-extra"></div>
                            </a>

                            {# Level 2 #}
                            <ul class="list-level2">
                                <li>
                                    <a href="/Candidates" class="site-nav-link" data-level="2">
                                        Candidates 2020
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/About-Brand-New-Congress-Candidate-Nominations" class="site-nav-link" data-level="2">
                                        Nominate a Candidate
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                            </ul>

                        </li>

                        {# Level 1 #}
                        <li style="width: 20%;">
                            <a href="/Volunteer" class="site-nav-link" data-level="1">
                                Take Action
                                <div class="nav-extra"></div>
                            </a>

                            {# Level 2 #}
                            <ul class="list-level2">
                                <li>
                                    <a href="/Volunteer" class="site-nav-link" data-level="2">
                                        Volunteer
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Join-Brand-New-Congress" class="site-nav-link" data-level="2">
                                        Join BNC
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ block('contributeLink') }}" target="_blank" class="site-nav-link" data-level="2">
                                        Donate
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        {# Level 1 #}
                        <li style="width: 20%;">
                            <a href="/Meet-the-Team" class="site-nav-link" data-level="1">
                                About
                                <div class="nav-extra"></div>
                            </a>

                             {#Level 2#}
                            <ul class="list-level2">
                                <li>
                                    <a href="/Meet-the-Team" class="site-nav-link" data-level="2">
                                        Meet the Team
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/About-Brand-New-Congress" class="site-nav-link" data-level="2">
                                        About Brand New Congress
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Platform" class="site-nav-link" data-level="2">
                                        Platform
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Contact" class="site-nav-link" data-level="2">
                                        Contact
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Privacy" class="site-nav-link" data-level="2">
                                        Privacy
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        {# Level 1 #}
                        <li style="width: 20%;">
                            <a href="/News" class="site-nav-link" data-level="1">
                                Press
                                <div class="nav-extra"></div>
                            </a>

                            {#Level 2#}
                            <ul class="list-level2">
                                <li>
                                    <a href="/News" class="site-nav-link" data-level="2">
                                        BNC News
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/In-the-Press" class="site-nav-link" data-level="2">
                                        Press Coverage
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Media-Releases" class="site-nav-link" data-level="2">
                                        Press Releases
                                        <div class="nav-extra"></div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        {# Level 1 #}
                        <li style="width: 20%;">
                            <a href="https://shop.brandnewcongress.org/" target="_blank"  class="site-nav-link" data-level="1">
                                Shop BNC
                                <div class="nav-extra"></div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    {{ parent() }}
{% endblock footer %}

