{% extends 'SitetheoryTemplateBundle::shell.html.twig' %}


{# Load Site CSS #}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorystratus/stratus/bower_components/angular-material/angular-material.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/site.css') }}">
{% endblock link %}

{# Set Footer Brightness #}
{% set footerBrightness = 'dark' %}

{# Set Footer Site Map Brightness #}
{% set siteMapBrightness = 'dark' %}


{# Hide Sidebar Login until it's dynamic and necessary #}
{% block sidebarLogin %}
{% endblock sidebarLogin %}

{# Hide sidebar and make main column full width #}
{% if bootstrapColumnSidebar is not defined %}
    {% set bootstrapColumnSidebar = 'flex=0 flex-gt-sm=20' %}
    {% set bootstrapColumnMain = 'flex=100 flex-gt-sm=80' %}
{% endif %}

{% if sectionMenuActive is not defined %}
    {% set sectionMenuActive = 'empty' %}
{% endif %}
{% if sectionMenuHardCoded is not defined %}
    {% set sectionMenuHardCoded = 'empty' %}
{% endif %}

{# Sidebar fonts #}
{%  set navLevel1Font = 'fontPrimary' %}
{%  set navLevel2Font = 'fontSecondary' %}

{# Add border to bottom of sidebar #}
{% block sidebarExtrasBottom %}
    <div class="borderDashed"></div>
{% endblock sidebarExtrasBottom %}



{# Temporary hard coded menu #}
{% block sectionName %}
    <h2 class="sectionName fontPrimary">{{ sectionNameHardCoded|default('Secction Name') }}</h2>
    <div class="borderDashed"></div>
{% endblock sectionName %}


{% block menuSection1 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="list-unstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Nominate" class="navLevel2 {% if sectionMenuActive == 'nominateActive' %}active{% endif %}">
                Nominate
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="Nomination-Guide" class="navLevel2 {% if sectionMenuActive == 'nominationGuideActive' %}active{% endif %}">
                Nomination Guide
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/Call" class="navLevel2 {% if sectionMenuActive == 'callActive' %}active{% endif %}">
                Join a Call
            </a>
        </li>
    </ul>
{% endblock menuSection1 %}


{% block menuSection2 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="list-unstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/Volunteer" class="navLevel2 {% if sectionMenuActive == 'volunteerActive' %}active{% endif %}">
                Volunteer
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="/Contribute" class="navLevel2 {% if sectionMenuActive == 'contributeActive' %}active{% endif %}">
                Contribute
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="https://docs.google.com/a/gutensite.com/forms/d/e/1FAIpQLSfjqqPRs0d8XNL-nvvsvqnAmCsFCqOLuMv-NncAb--oiHnzqg/viewform?c=0&w=1" target="_blank" class="navLevel2 {% if sectionMenuActive == 'volunteerFormActive' %}active{% endif %}">
                Tell Us About Yourself
            </a>
        </li>
    </ul>
{% endblock menuSection2 %}


{% block menuSection3 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="list-unstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="/The-Plan" class="navLevel2 {% if sectionMenuActive == 'planActive' %}active{% endif %}">
                Our Plan
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="About-Us" class="navLevel2 {% if sectionMenuActive == 'aboutActive' %}active{% endif %}">
                About Us
            </a>
        </li>
        <li class="siteNavLink" data-level="2">
            <a href="FAQ" class="navLevel2 {% if sectionMenuActive == 'faqActive' %}active{% endif %}">
                FAQ
            </a>
        </li>
    </ul>
{% endblock menuSection3 %}


{% block menuSection4 %}

    <!-- Level 2 Links -->
    <ul id="listLevel2" class="list-unstyled {{ navLevel2Font|default('fontSecondary') }}">
        <li class="siteNavLink" data-level="2">
            <a href="mailto:us@brandnewcongress.com" class="navLevel2">
                Contact Us
            </a>
        </li>
    </ul>
{% endblock menuSection4 %}



{% block navSection %}

    <!-- Level 1 Links -->

    <div hide-gt-sm>
        <ul id="listLevel1" class="list-unstyled">
            <li data-level="1">
                <div class="siteNavLink "  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Join
                    </a>
                </div>
            </li>
            <li data-level="1">
                <div class="siteNavLink"  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Candidates
                    </a>
                </div>
                {{ block('menuSection1') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink"  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Work With Us
                    </a>
                </div>
                {{ block('menuSection2') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink {{ navLevel1Font|default('fontPrimary') }}"  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Learn
                    </a>
                </div>
                {{ block('menuSection3') }}
            </li>
            <li data-level="1">
                <div class="siteNavLink"  data-level="1">
                    <a href="" class="navLevel1 fontPrimary">
                        Contact
                    </a>
                </div>
                {{ block('menuSection4') }}
            </li>
        </ul>
    </div>
    <div hide-xs hide-sm>

        {% if sectionMenuHardCoded == '1' %}
            {{ block('menuSection1') }}
        {% elseif sectionMenuHardCoded == '2' %}
            {{ block('menuSection2') }}
        {% elseif sectionMenuHardCoded == '3' %}
            {{ block('menuSection3') }}
        {% elseif sectionMenuHardCoded == '4' %}
            {{ block('menuSection4') }}
        {% endif %}

    </div>

{% endblock navSection %}

{# End temporary hard coded menu #}



{% block header1 %}
    <div id="header1">
        <div layout="row" ng-cloak>
            <div flex-gt-sm="30" hide-xs hide-sm>
                <div id="planGraphic">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/planGraphic.png') }}" alt="">
                </div>
            </div>
            <div flex="100" flex-gt-sm="40">
                <div class="clearfix">
                    <div id="logoHeader" class="align-center">
                        <a href="/"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogo.png') }}" alt=""></a>
                    </div>
                </div>
            </div>
            <div flex-gt-sm="30" hide-xs hide-sm>
                <div id="headerExtraLinks" class="pullRight">
                    <a href="https://secure.actblue.com/contribute/page/bncsignup" target="_blank" class="btn btnContribute">Contribute</a>
                    <a id="linkCandidates" class="fontTertiary align-right" href="/Volunteer">Volunteer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock header1 %}

{% block header2 %}
    <div id="header2" class="positionAnchor">

        <div id="headerContact" class="fontSecondary verticalCenter centerLeft clearfix">
            <a href="/">
                <div class="headerOrnament positionAnchor pullLeft">
                    <div class="square square1 easyTransition">
                    </div>
                    <div class="square square2">
                    </div>
                    <div class="square square3 easyTransition">
                    </div>
                </div>
                <div class="btnText">Contact Us</div>
            </a>
        </div>
        {% block mainNavigation %}
            <div id="navMainContainer" class="navMainContainer divCenter">
                <ul class="listInline fontPrimary">
                    <li class="navMainLink">
                        <a href="#footerJoin">
                            Join
                        </a>
                    </li>
                    <li class="delimiter"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/diagonalDelimiter.png') }}" alt="">
                    </li>
                    <li class="navMainLink">
                        <a href="/Nominate">
                            Nominate
                        </a>
                    </li>
                    <li class="delimiter"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/diagonalDelimiter.png') }}" alt="">
                    </li>
                    <li class="navMainLink">
                        <a href="/The-Plan">
                            Learn
                        </a>
                    </li>
                </ul>
            </div>
        {% endblock mainNavigation %}
        <div id="headerSocial" class="verticalCenter">
            <!-- Social Media -->
            {% block socialMedia %}
                <div class="socialMedia {{ socialStyle|default('basicStyle') }}">
                    <ul class="listInline">
                        <li class="twitter">
                            <a class="positionAnchor" href="http://twitter.com/intent/tweet?status=Sign+up+to+help+create+a Brand+New+Congress: http://brandnewcongress.org" title="Share on Twitter" target="_blank" data-reactid="123" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/twitter.svg' %}{% block id %}footerTwitterIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                        <li class="facebook">
                            <a class="positionAnchor" href="http://www.facebook.com/sharer/sharer.php?u=http://brandnewcongress.org&amp;title=Brand+New+Congress" title="Share on Facebook" data-reactid="125" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/facebook.svg' %}{% block id %}footerFacebookIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                        <li class="reddit">
                            <a class="positionAnchor" href="https://www.reddit.com/r/BrandNewCongress/" target="_blank">
                                {% embed '@SitetheoryCoreBundle/Resources/public/images/icons/social/reddit.svg' %}{% block id %}footerRedditIcon{% endblock %}{% endembed %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endblock socialMedia %}
            <!-- End Social Media -->
        </div>
        <div class="headerOrnament verticalCenter centerLeft"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/tripleSquarePurple.png') }}" alt=""></div>
        <div class="headerOrnament verticalCenter centerRight"><img src="{{ asset('bundles/sitetheorytemplatecustom/images/tripleSquarePurple.png') }}" alt=""></div>
    </div>
{% endblock header2 %}


{% block retractingHeaderContent %}
    <div class="clearfix">
        <div id="logoRetractingHeader"  class="verticalCenter">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogoHorizontal.png') }}" alt="">
        </div>
        <div hide-xs hide-sm id="retractingContribute" class="verticalCenter">
            <a href="/" class="btn btnContribute">Contribute</a>
        </div>
        <div>
            {{ block('mainNavigation') }}
         </div>
    </div>
{% endblock retractingHeaderContent %}

{# Temporary hard coded footer site map #}
{% block footerSiteMap %}
    <div id="siteMapBackground">

        {% block footerJoin %}
            <a name="footerJoin"></a>
            <div id="footerJoinForm" class="purple">
                <ul class="listInline divCenter fontSecondary">
                    <li>
                        <div class="starLeft"></div>
                    </li>
                    <li>
                        <h1>Add Your Name</h1>
                    </li>
                    <li>
                        <div class="fakeFormBox">Email</div>
                    </li>
                    <li>
                        <div class="fakeFormBox">Zip</div>
                    </li>
                    <li>
                        <div class="fakeFormSubmit"><a class="btn">Count Me In</a></div>
                    </li>
                    <li>
                        <div class="starRight"></div>
                    </li>
                </ul>
            </div>
        {% endblock footerJoin %}


        <div id="siteMapContainer" class="siteMaxWidth siteSidePadding fontSecondary dark">



            <div id="siteMapNew" layout="row" layout-wrap hide-xs hide-sm ng-cloak>
                <div flex="20">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="/Candidates">Candidates</a>
                        </li>
                        <li>
                            <a href="/Nominate">Nominate a Candidate</a>
                        </li>

                        <li>
                            <a href="/Nomination-Guide">Nomination Guide</a>
                        </li>
                        <li>
                            <a href="/Call">Join a Call</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="20">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="/Volunteer">Work With Us</a>
                        </li>
                        <li>
                            <a href="/Volunteer">Volunteer</a>
                        </li>
                        <li>
                            <a href="https://secure.actblue.com/contribute/page/bncsignup" target="_blank">Contribute</a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/a/gutensite.com/forms/d/e/1FAIpQLSfjqqPRs0d8XNL-nvvsvqnAmCsFCqOLuMv-NncAb--oiHnzqg/viewform?c=0&w=1" target="_blank">Tell Us About Yourself</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="20">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="/The-Plan">Learn</a>
                        </li>
                        <li>
                            <a href="/The-Plan">Our Plan</a>
                        </li>
                        <li>
                            <a href="/About-Us">About Us</a>
                        </li>
                        <li>
                            <a href="/FAQ">FAQ</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div flex="20">
                    <div class="siteMapColumn">
                        <ul class="list-unstyled">
                            <li class="siteMapHeader">
                                <div class="fontTertiary">Helpful Links</div>
                            </li>
                            <li>
                                <a href="/https://www.govtrack.us/congress/members" target="_blank">Find Your Congressional District</a>
                            </li>
                            <li>
                                <a href="https://docs.google.com/a/gutensite.com/forms/d/e/1FAIpQLSceYguZI_gngXf7dLOXN6xUkLRNsYfn0b2v-aDEvZKPH-j1dQ/viewform" target="_blank">Suggest a Local Connector</a>
                            </li>
                            <li>
                                <a href="https://docs.google.com/document/d/1Op0OaZNuykCJckSCn4vABDEr4VEdTrMeTsPCZFNSJo4/edit" target="_blank">Local Organizing Kit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div flex="20">
                    <div class="siteMapColumn">
                    <ul class="list-unstyled">
                        <li class="siteMapHeader">
                            <a class="fontTertiary" href="mailto:us@brandnewcongress.org">Contact</a>
                        </li>
                        <li>
                            <a href="mailto:us@brandnewcongress.org">Contact Us</a>
                        </li>
                        <li>
                            {# Social Media #}
                            {% block footerSocialMedia %}
                                {{ block('socialMedia') }}
                            {% endblock footerSocialMedia %}
                        </li>
                    </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock footerSiteMap %}
{# End temporary hard coded footer site map #}


{% block viewFooter %}
    <div id="footerBackground">
        <div id="footer" class="siteMaxWidth siteSidePadding dark">
            <div id="footerLogo" class="align-center">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogoFooter.png') }}" alt="">
            </div>
            <p class="smallLabel align-center">Send questions to <a href="mailto:us@brandnewcongress.org">us@brandnewcongress.org</a></p>
            <div id="footerCredit" class="align-center">
                <p class="smallLabel">©2016 Brand New Congress. All rights reserved.<br>Paid for by Brand New Congress, brandnewcongress.org, not authorized by any candidate or candidate's committee.</p>
                <a class="smallLabel" href="http://www.sitetheory.io" target="_blank">
                    Non-profit website by Sitetheory
                </a>
            </div>
        </div>
    </div>

{% endblock viewFooter %}