{% extends 'SitetheoryArticleBundle::Article.html.twig' %}

{% block contentType %}
<div class="platform platformBNC">
    <h2 class="fontPrimary">We, the American People</h2>
    <div class="platformIntro">
        <ul>
            <li>
                <p class="bodyLarge blueText">Have the potential to overcome our greatest problems</p>
                <p>We have 320 million amazing people, vast natural resources, the best universities and research centers in the world, and an economy still rich with capital and innovation despite 40 years of economic decline.</p>
                <div class="borderDashed"></div>
            </li>
            <li>
                <p class="bodyLarge blueText">Can rebuild our communities, economy and schools.</p>
                <p>We believe America is finally poised to ensure true liberty and justice for all by:</p>
                <div class="sublist">
                    <ul>
                        <li>guaranteeing quality education, healthcare and childcare</li>
                        <li>reversing mass incarceration</li>
                        <li>reforming our entire justice system</li>
                    </ul>
                </div>
                <div class="borderDashed"></div>
            </li>
            <li>
                <p class="bodyLarge blueText">Can reclaim our government.</p>
                <p>We believe we can restore our democracy by removing the corrupting influence of money from politics.</p>
            </li>
        </ul>
    </div>
    <div class="platformDivider">
        <br>
    </div>
    <div class="platformMain">
        <h4>OUR BRAND NEW CONGRESS WILL</h4>
        <h2 class="fontPrimary">Rebuild Our Economy</h2>
        <p class="bodyLarge blueText">America has fallen into a long-term, economic decline. Over the past 4 decades, America has lost millions of high-wage jobs and failed to replace them. 40% of Americans make less than $20,000 per year.</p>
        <p class="bodyLarge blueText">To reverse this economic decline once and for all, we will kickstart new high-wage industries, modernize old industries, build a 100% renewable energy economy, repair our crumbling infrastructure and rebuild local communities. We will:</p>
        <br>
        <h3>Rebuild American Industry</h3>
        <p>During and after World War II, America experienced unprecedented economic growth. From 1940 - 1945, the American economy more or less doubled in size every year. At the end of the war, the U.S. had many new massive and modern industries producing everything from steel, aluminum, automobiles and ships, to plastics, machine tools, electronics and pharmaceuticals. The economy we built during the war provided middle class, high-wage jobs to half of America for three generations. We can, and must, do the same thing again today.  Our plan calls for kickstarting new high-wage, high-value industries and modernizing existing industries — which will create millions of new jobs, lift wages and grow the economy all at the same time. <span class="readMore fontSecondary purpleText {% verbatim %}{{ openMyStuff1 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff1=!openMyStuff1">Read More</span></p>
        <div class="readMoreOverflow" ng-cloak ng-show="openMyStuff1">
            <p>America’s big banks don’t want to invest in America anymore. They want to gamble on Wall Street where the house always wins and the American people always lose. Our biggest corporations stash hundreds of billions of dollars in overseas tax havens, and spend far more of it on stock buybacks than on innovation. The little they do invest, they invest in countries that demand investment in exchange for access to markets and that make investment profitable by providing top-notch infrastructure and highly skilled workers.</p>
            <p>We don't blame other countries for taking care of their own needs, or corporations for seeking profit but we, the American people, need to take matters into our own hands and rebuild our economy.
            </p>
            <p>Our plan calls for creating regional and state investment banks whose mission it is to invest in kickstarting high-wage industries and modernizing existing industries. Unlike the big banks we have today, which gamble their money on Wall St, these new banks will invest in high-wage industries that will create millions of jobs for the American people. These regional and state investment banks will work hand in hand with a new national investment corporation that will work to find game-changing new ventures in which the banks can invest.
            </p>
            <p>Imagine, for example, a national investment corporation convening companies like Apple, Google, Intel, AMD, Motorola, Samsung, FoxConn and others to jumpstart the world’s next generation industries here in America. This is exactly what high-wage and rising-wage countries like Germany, Japan, South Korea and China are doing all around us -- and it’s exactly the same strategy that America has used time and again throughout its history to build the world’s most prosperous economy. </p>
            <p>The scale of the investment will be massive. And it will work because it is merely an infusion of capital and purpose into our already dynamic and powerful economy. Our economy today creates jobs, just not enough of them in high-paying sectors. Today, many American small businesses are thriving thanks to their own incredible hard work, but each year there are still more small businesses that fail than new small businesses that are created. Our state and regional investment banks and the investment corporation will work together to provide small businesses with the capital they need to compete on a level playing field with big business and seize every opportunity to grow through this economic mobilization. When we talk about returning jobs to coal country and the Rust Belt, we are backing up our words with trillions of dollars in investment.<span class="readLess fontSecondary purpleText {% verbatim %}{{ openMyStuff1 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff1=!openMyStuff1">Read Less</span></p>
        </div>

        <h3>Build the inevitable, cheap, renewable energy economy now</h3>
        <p>Our current energy system is costly, inefficient, and unsustainable. Unlike oil, coal and natural gas, the sun and wind can provide us with a virtually infinite supply of energy — millions of times more energy than we could ever possibly use. Building an all-renewable energy system will require a massive investment at first — just like the American highway system did back in the 1950s — but once it’s built, maintaining our new energy system will be far cheaper than the expensive energy system we have today.<span class="readMore fontSecondary purpleText {% verbatim %}{{ openMyStuff2 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff2=!openMyStuff2">Read More</span></p>
        <div class="readMoreOverflow" ng-cloak ng-show="openMyStuff2">
        <p>The cheap renewable energy economy is coming. If we choose to build it now instead of decades from now, we’ll create millions of jobs and free up trillions of dollars from energy costs for other projects. This will be a huge boon for American workers and this cheap renewable energy will give American businesses a competitive edge. Regardless of whether you believe in climate change, every nation in the world is moving away from fossil fuels. The oil, coal and natural gas industries are going to go out of business whether we like it or not. We have a choice: fall behind the rest of the world or build America’s cheap, renewable energy economy right now.<span class="readLess fontSecondary purpleText {% verbatim %}{{ openMyStuff2 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff2=!openMyStuff2">Read Less</span>
        </p>
        </div>

        <h3>Invest the $4.6 trillion needed to repair our country’s crumbling infrastructure</h3>
        <p>We will fund the national and state agencies that oversee our major roads, bridges, dams and more for the projects they have been begging to start for decades. The American Society of Civil Engineers estimates that $4.6 trillion is needed to get America’s infrastructure back up to par. Much of this is straightforward “shovel ready” work that can be started right away. The rest requires planning across the private and public sector. In an age when bridges regularly collapse and and levee's break, our infrastructure plan will save lives and keep the American economy going!</p>

        <h3>Rebuild our local communities</h3>
        <p>We will provide grants to counties, towns, cities and rural areas to fund and finish long-overdue local projects such as building community centers, removing crumbling buildings, renovating downtowns, just to name a few. Our grants will help local communities rebuild with dignity and self-determination instead of displacement and gentrification.</p>

        <h3>Provide a tuition-free education to qualified students at all public universities, colleges, and trade schools</h3>
        <p>If you meet the academic requirements, you go for free. This is not a new concept — before the 1980s, many public American universities provided a tuition-free education to all qualified students. Today, most industrialized countries do the exact same thing. If we want to rebuild our economy and encourage innovation in America, we need a highly-educated and highly-skilled workforce. Saddling students with debt is not only destructive to students’ futures, it also slows and depresses our economy.</p>

        <h3>Raise the minimum wage to $15/hour — and tie it to inflation</h3>
        <p>Adjusted for inflation, today’s $7.25/hour minimum wage is actually $4 lower than the minimum wage of 50 years ago. No one can survive in America today on $7.25/hour, especially if they are trying to raise a family. We will raise the minimum wage to $15/hour, tie it to inflation, and encourage states and local governments to increase the minimum wage further in places with higher costs of living. This will help millions of workers make it to the middle class, which is good for workers and good for local businesses — because the larger the American middle class, the more customers there are to buy products and services.</p>

        <h3>Make special investments in communities that have been devastated over past decades</h3>
        <p>Due to regional, racial and sectoral divides, millions of Americans have been left behind. Some communities never made it into the middle class while others joined momentarily before being thrown back out. If we are to be one nation, we need to make special investments in all the communities that have made extraordinary sacrifices for America, but have been left behind with nothing. This includes regions and communities such as Rural America, Coal-Mining America, Rust Belt America, Black America, Latino America, Native Americans’ America and many others. <span class="readMore fontSecondary purpleText {% verbatim %}{{ openMyStuff3 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff3=!openMyStuff3">Read More</span></p>

        <div class="readMoreOverflow" ng-cloak ng-show="openMyStuff3">
            <p>How will these investments be made? The regional investment banks and corporations explained above will be given extra resources where needed. Additionally, special banks will be established to invest in particularly hard-hit communities. For example, there should be a Coal Country Bank, an Appalachian Bank, an Ozarks Bank, a Rust Belt Bank, an African American Bank and a Native American Bank, just to name a few. <span class="readLess fontSecondary purpleText {% verbatim %}{{ openMyStuff3 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff3=!openMyStuff3">Read Less</span>
            </p>
        </div>

        <hr>

        <h2 class="fontPrimary">FIX THE HEALTHCARE MESS</h2>

        <p class="bodyLarge blueText">Everyone knows health care in America is broken. It was broken before Obamacare, and it is still broken. Obamacare forces millions of people to pay for insurance they can’t afford to use because deductibles are so high. Millions are still left without coverage and costs are skyrocketing for everyone.
        </p>
        <p class="bodyLarge blueText">There has always been a simple solution to our health care mess: cover everyone with Medicare.
        </p>

        <p class="introExtra">
            Private insurance companies have been allowed by generations of corrupt politicians to become monopolies with the power to extort many hundreds of billions of dollars from the American people each year. The health insurance industry spent $150 billion dollars last year in lobbying expenses alone, to protect their monopolies — money that could have been spent on providing care and saving lives. Our Medicare for All plan will provide all Americans with Medicare, increase the number of doctors and care facilities and stop Big Pharma from gouging American consumers.
        </p>
        <br>

        <h3>Provide all Americans with healthcare through Medicare</h3>
        <p>This will include high-quality general, dental, vision, and mental health coverage. Medicare is more efficient than any private insurance provider and is accepted by 95% of doctors. Under our plan, private insurance companies will be allowed to compete with each other in a truly free market to offer supplemental insurance plans.</p>

        <h3>Increase the number of doctors, clinics and hospitals</h3>
        <p>We have a shortage of doctors and health care facilities in America today. In rural areas, it can be almost impossible to see even a general practitioner let alone a specialist. The American Medical Association currently restricts the number of doctors who are admitted to medical school and the number of foreign trained doctors who can be certified to practice in America. They do this to ensure higher salaries for doctors. We believe doctors are incredibly valuable members of our communities and economy and should be paid well — and they should not have to create shortages to raise their wages!</p>

        <h3>Stop the pharmaceutical industry from gouging the American people</h3>
        <p> The pharmaceutical industry, or “Big Pharma,” gouges the American people because the government forbids Medicare from negotiating drug prices with pharmaceutical companies. Under our plan, this regulation will be eliminated and Medicare will be allowed to negotiate the best possible prices for the American people.</p>

        <h3>Invest in innovative research programs to develop new life-saving drugs</h3>
        <p>Not only does Big Pharma gouge the American people, but it also spends the vast majority of its profits on advertising and lobbying — not on developing new, life-saving drugs as it should. In fact, Big Pharma is scaling back drug development so much that most new drugs and other treatments are developed at small pharma companies, startups and university research programs. We will launch several competitive drug development programs that will invest in innovative research efforts already underway. These investments and programs will operate out of established organizations such as the National Institutes of Health. Not only will this directly produce more life-saving drugs, but it will also incentivize Big Pharma to stop spending so much on advertising, and start investing more in what they should — developing new and better drugs that will save lives.</p>

        <hr>
        <h2 class="fontPrimary">END MASS INCARCERATION</h2>

        <p class="bodyLarge blueText">America imprisons more of its own people than any other nation in the world. Even as the crime rate is on a steady decline, incarceration rates continue to climb. Incarceration rates are skewed in favor of targeting minorities with longer sentences and higher arrest rates.
        </p>
        <p class="introExtra">This trend has left devastation in its wake, as more and more Americans find themselves unemployable and disenfranchised after serving their time. Children and partners lose their parents and loved ones to the system, perpetuating negative social and economic outcomes. We will attack this crisis through five important lenses
        </p>

        <h3>End the school to prison pipeline</h3>
        <p>Many children go to schools with aggressive zero-tolerance disciplinary practices, which are directly tied to Congressional funding requirements. These policies often result in suspension or expulsion for students with disciplinary issues — pushing them out of school and into the criminal justice system. Not only does this leave children without the resources they need to succeed,  but it also creates antagonism between children and authority figures, contributing to the likelihood of their incarceration. <span class="readMore fontSecondary purpleText {% verbatim %}{{ openMyStuff4 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff4=!openMyStuff4">Read More</span></p>

        <div class="readMoreOverflow" ng-cloak ng-show="openMyStuff4">
        <p>We must change our priorities if we are to ever solve this problem. For instance, while school districts have increased funding for School Resource Officers, they have cut down funding for other services children need. We can help ease the financial burden for schools by changing funding requirements and providing financial support for programs and resources that can act as alternative to punitive sanctions. BNC will fund and promote programming to address disciplinary alternatives which address the factors that cause crime, and thus strengthening the quality of education for all students. This will go a long way in addressing the problems of mass incarceration at its source. BNC plans to work with state and local governments, and the Department of Education, to transform every public school in America by empowering our children, rather than marginalizing them. <span class="readLess fontSecondary purpleText {% verbatim %}{{ openMyStuff4 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff4=!openMyStuff4">Read Less</span></p>
        </div>

        <h3>End the wasteful, harmful, ineffective War on Drugs</h3>
        <p>Since its inception, the War on Drugs has been a failure. It has exacerbated our country’s massive drug problem, not fixed it. It has harmed the most vulnerable people in our country, not helped them. In the past 40 years alone, the government has spent over $1 trillion of taxpayer dollars in the War on Drugs. The time has come to stop the government from wasting any more of our money and fix the drug problem once and for all. To accomplish that, we will:</p>
        <ul>
            <li>
                <b>Stop wasting taxpayer dollars</b> on the ineffective War on Drugs.
            </li>
            <li>
                <b>Legalize and tax marijuana</b> just like we do alcohol and tobacco, which will save us over $13 billion per year.
            </li>
            <li>
                <b>Invest all that saved money in drug diversion and mental health programs</b> which have proven to be successful at slashing drug use.
            </li>
        </ul>
        <br>
        <p><span class="readMore fontSecondary purpleText {% verbatim %}{{ openMyStuff5 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff5=!openMyStuff5">Read More</span></p>
        <div class="readMoreOverflow" ng-cloak ng-show="openMyStuff5">
            <p>
            Ending the War on Drugs is a priority for Americans across party lines. Especially in light of the ongoing opioid crisis, more and more people are realizing that incarcerating people for nonviolent crimes does not fix the problem at all — it creates new problems. Therefore, instead of waging a failed war, we should commit government resources to mental health support and drug diversion. Drug diversion programs have proven successful in giving those who would otherwise have a criminal record a second chance. Instead of criminal sanctions, they go through the drug courts and must complete various programs while remaining sober. This is an effective alternative for ameliorating the harm that comes from hard drug use, while freeing up the court system to handle more serious crimes. We will work with states, the DOJ, and the Department of Health and Human Services to create drug diversion programs all over the country, which will focus on treatment for those who have issues with substance abuse. The federal government will provide states with the funding to implement these programs effectively. <span class="readLess fontSecondary purpleText {% verbatim %}{{ openMyStuff5 ? 'Less' : 'More' }}{% endverbatim %}" ng-click="openMyStuff5=!openMyStuff5">Read Less</span>
            </p>
        </div>
    </div>
</div>
    {% endblock contentType %}