{% extends 'SitetheoryArticleBundle::Article.html.twig' %}

{# Load Profiles CSS #}
{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/profiles.css') }}">
{% endblock link %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = 'column100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide footer signup form #}
{% block footerJoin %}
{% endblock footerJoin %}


{# Hide footer signup form #}

{% block contentType %}
    <div class="profileDetails">
        <p class="pullout divCenter alignCenter">We are drafting Linda Wayman as a candidate to help lead BNC’s movement to fix our schools and make American education excellent for all students. <a href="https://www.ted.com/talks/linda_cliatt_wayman_how_to_fix_a_broken_school_lead_fearlessly_love_hard">Watch Linda’s TED talk: How to fix a broken school? Lead fearlessly, love hard.</a></p>

        <h1>Pennsylvania 1st</h1>
        <div class="borderDashedBold shellVerticalPadding">

            <div layout="row" layout-wrap>
                <div flex="100" flex-gt-sm="40">
                    <div hide-xs hide-sm class="profileImage">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/LindaWayman.jpg') }}" alt="">
                    </div>
                </div>
                <div flex="100" flex-gt-sm="60">
                    <div hide-gt-sm class="profileImage">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/LindaWayman.jpg') }}" alt="">
                    </div>
                    <div class="profileBody">
                        <h2>Why You Should Support Drafting Linda Wayman</h2>
                        <p>Principal Linda Cliatt-Wayman grew up in poverty in North Philadelphia, where she experienced firsthand the injustice being perpetrated against poor students in their education. She spent 20 years as a special education teacher before becoming a principal, followed by two years as Assistant Superintendent of High Schools for the School District of Philadelphia. After one of her schools went through four principals in four years, Wayman volunteered to do the job herself.  This school was rated one of the most dangerous schools in the United States, and Principal Wayman turned the school around through a mix of good management, personal attention to detail and boundless love for her students. Wayman ends her announcements to her students every morning the same way: “Remember, if no one told you they loved you today, remember I do and I always will.
                        </p>
                        <p>
                            We dream of Principal Wayman speaking to stadiums all over the country full of students, parents, teachers and a huge new generation of recruits to the education profession, and speaking persuasively and passionately to our entire nation about how important it is to make whatever changes it will take to give every student an excellent education.
                        </p>
                        <p class="callToAction">If you’d like to see this happen, support us so we can convince Linda Wayman to run for Congress.
                        </p>
                    </div>
                    <div class="candidateDetailsJoin joinForm">
                        {{ block('registrationForm') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="borderDashedBold shellVerticalPadding textCenter">
            {{ block('candidateReturnLink') }}
        </div>
    </div>
{% endblock contentType %}