{% extends 'SitetheoryArticleBundle::Article.html.twig' %}

{# Load Profiles CSS #}
{% block link %}
    {{ parent() }}
    {# TODO: once assetic is fixed to load local resources, change this to look like standard #}
    {# #
    {% stylesheets '@SitetheoryTemplateCustomBundle/Resources/public/css/site.css' filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" data-file="site.css">
    {% endstylesheets %}
    {# #}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/profiles.css') }}">
{% endblock link %}


{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = 'column100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide footer signup form #}
{% block footerJoin %}
{% endblock footerJoin %}


{# Hide footer signup form #}

{% block contentType %}
    <div class="profileDetails">
        <p class="pullout divCenter alignCenter">We are drafting Kurt to run for Congress because we need representatives who are able to talk to diverse groups of people across different races, classes, and political ideologies to bring them together on the common cause of helping to improve the lives of people often left behind in this country. </p>

        <h1>Kansas 9th</h1>
        <div class="borderDashedBold shellVerticalPadding">

            <div layout="row" layout-wrap>
                <div flex="100" flex-gt-sm="40">
                    <div hide-xs hide-sm class="profileImage">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/KurtRietema.jpg') }}" alt="">
                    </div>
                </div>
                <div flex="100" flex-gt-sm="60">
                    <div hide-gt-sm class="profileImage">
                        <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/KurtRietema.jpg') }}" alt="">
                    </div>
                    <div class="profileBody">
                        <h2>WHy You Should Support Drafting Kurt Rietema</h2>
                        <p>Kurt Rietema lives with his family in a diverse, under-resourced neighborhood of Kansas City, Kansas, called Argentine. Kurt has worked as a youth pastor for more than a decade with YouthFront where he now serves as the Director of Justice Initiatives. Youthfront has youth leadership development programs in Kurt’s neighborhood including the Common Good Leadership Cohort. These cohorts bring together 12 youth with differing socioeconomic, cultural, and ethnic backgrounds over a year-long period where they work together on a project and also try to forge friendships in a deeply racially-divided city.</p>
                        <p>Kurt also leads Youthfront Missional Journeys, which are a different kind of take on service projects and short-term missions. While there are work projects in these Missional Journeys, the real focus is not to address the symptoms of poverty in our world, but to educate privileged youth to understand the systems that perpetuate it so we can thoughtfully enact the story of God among broken people and places.</p>
                        <p>The Rietemas also lead a just housing initiative called "Neighbor to Neighbor" which creates fair, low-interest lending partnerships between churches and families that can’t access traditional home mortgages. New homeowners have seen their monthly payments cut in half and on the path to being debt-free in 7-15 years. </p>
                        <p>In asking what it means to truly love their neighbors as themselves, the Rietemas have found out that their neighbors don’t have the same rights and opportunities as most Americans. Because of the broken immigration system in the U.S., many immigrants’ lives are in limbo. Part of Kurt’s ministry work has been to help Christians think about immigration primarily through a theological lens.</p>
                        <p class="callToAction">If you’d like to see Kurt in Congress fighting for immigrants’ rights and trying to unite different segments of our society, support us so we can convince Kurt Rietema to run for Congress.</p>
                    </div>
                    <div class="candidateDetailsJoin joinForm">
                        {{ block('registrationForm') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="borderDashedBold shellVerticalPadding textCenter">
            {{ block('candidateReturnLink') }}
        </div>
    </div>
{% endblock contentType %}