{% extends 'SitetheoryArticleBundle::Article.html.twig' %}



{% set sectionNameHardCoded = 'Learn' %}
{% set sectionMenuHardCoded = '3' %}
{% set sectionMenuActive = 'aboutActive' %}

{% block contentType %}
<div id="aboutUs">

    <div layout="row" layout-wrap id="aboutUs">
        <div hide-xs flex-gt-xs="25">
            <p class="pullout">We intend to be a big tent for anyone who is tired of partisan politics and wants to change this country for the better.</p>
        </div>

        <div flex="100" flex-gt-xs="70" flex-offset-gt-xs="5">
            <p>Brand New Congress was originally started by a group of volunteers and staffers from the Bernie Sanders presidential campaign. But we are not just comprised of people from the Bernie Sanders campaign, and we intend to be a big tent for anyone who is tired of partisan politics and wants to just accomplish the big tasks necessary to actually change this country for the better.</p>
            <p>We don't want to play politics - we see the major problems our nation is facing, and we just want to see solutions. If our current Congress isn't going to do it, then we must. To know more about what we're proposing, check out our <a href="/The-Plan">plan</a>. If you'd like updates or to get involved, <a href="#footerJoin">please sign up</a> and someone from Brand New Congress will be in touch.</p>
            <p>Currently, Brand New Congress consists of dozens of volunteers and staff working together. A working group of 8 volunteers has been created to lead the effort and drive the overall strategy. Their profiles are listed below:</p>
        </div>
    </div>

    <br>
    <hr>
    <a name="saikatChakrabarti"></a>
    <div layout="row">
        <div flex-xs="30" flex-gt-xs="25">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/team/SaikatChakrabarti.jpg') }}" alt="">
        </div>
        <div flex-xs="60" flex-gt-xs="70" flex-offset="5">
            <h3>Saikat Chakrabarti</h3>
            <h4>New York, NY</h4>
            <p>I was inspired to get involved in politics when Senator Sanders started drawing thousands to his rallies by talking about medicare for all, reversing climate change, moving to radically reduce our prison population, ending corruption in government, and stopping our rising wealth disparity. I volunteered first as a coder with Coders for Sanders and then joined the campaign as Director of Organizing Technology. Before my work on the Sanders campaign, I was a co-founder of the product team at Stripe and a co-founder of Mockingbird. </p>
        </div>
    </div>

    <br>
    <hr>
    <a name="zackExley"></a>
    <div layout="row">
        <div flex-xs="30" flex-gt-xs="25">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/team/ZackExley.jpg') }}" alt="">
        </div>
        <div flex-xs="60" flex-gt-xs="70" flex-offset="5">
            <h3>Zack Exley</h3>
            <h4>Crane, MO</h4>
            <p>This is not a radical idea. It's simply how we were supposed to use our democracy. It's what some of the first American Revolutionaries told us we should do: have another revolution every time things got this out of wack. Lucky for us, they gave us a democracy. As rigged as our elections are right now, there's no better way to take back our country than to rally the people and win strong majorities in elections. Let's do it! Before working on BNC, I've worked in a variety of positions including Director of Online Communications and Organizing on John Kerry's presidential campaign, co-founder of the New Organizing Institute, Organizing Director at MoveOn, Chief Revenue Officer at Wikipedia and, most recently, Senior Advisor for the Bernie Sanders campaign for President.</p>
        </div>
    </div>

    <br>
    <hr>
    <a name="alexRojas"></a>
    <div layout="row">
        <div flex-xs="30" flex-gt-xs="25">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/team/AlexRojas.jpg') }}" alt="">
        </div>
        <div flex-xs="60" flex-gt-xs="70" flex-offset="5">
            <h3>Alexandra Rojas</h3>
            <h4>Fullerton, CA</h4>
            <p>I believe in BNC because I don’t believe I have to choose a cause or an issue I am most passionate about. We are investing our time, energy, and resources in the American people — not our broken system. Before working on BNC, I worked on Senator Sanders' campaign organizing huge groups of volunteers nationwide to create phonebanks and volunteer-led canvasses.</p>
        </div>
    </div>

    <br>
    <hr>
    <a name="corbinTrent"></a>
    <div layout="row">
        <div flex-xs="30" flex-gt-xs="25">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/team/CorbinTrent.jpg') }}" alt="">
        </div>
        <div flex-xs="60" flex-gt-xs="70" flex-offset="5">
            <h3>Corbin Trent</h3>
            <h4>Morristown, TN</h4>
            <p>America is declining into an oligarchy. It will take a "Brand New Congress" to reverse this decline. It will be the powerful culmination of the tens of millions of us that have decided to take a stand against the perverse influence of greed, greed that can be seen from Washington to Wall Street. We have many daunting tasks before us and the only way we can achieve them is by sticking together. The only force strong enough to make the changes that must be made is unity. Let's unify behind working people who we choose as our representatives in a Brand New Congress. Before getting involved with politics, I started a few different businesses including a woodworking shop, a digital advertising agency, and a burger food truck that focused on using local produce and locally sourced beef.</p>
        </div>
    </div>

    <br>
    <hr>
    <a name="haleyZink"></a>
    <div layout="row">
        <div flex-xs="30" flex-gt-xs="25">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/team/HaleyZink.jpg') }}" alt="">
        </div>
        <div flex-xs="60" flex-gt-xs="70" flex-offset="5">
            <h3>Haley Zink</h3>
            <h4>St. Charles, MO</h4>
            <p>I've always had a strong belief in the fight for a better world and think life is nothing without big goals. I stand behind Brand New Congress, as I believe it is the best way to tackle the dire issues our nation is facing. Everything from Climate Change and Human Rights, to Education and Infrastructure need stronger advocates in our executive offices and BNC aims to put them there. Personally -  I like people, to organize, engage, and excite them whenever I can. This tends to show itself in project managing, research, and talking. On the side, I'm a college student in the midwest and am honored to be working alongside each of you. </p>
        </div>
    </div>

    <br>
    <hr>
    <a name="israAllison"></a>
    <div layout="row">
        <div flex-xs="30" flex-gt-xs="25">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/team/IsraAllison.jpg') }}" alt="">
        </div>
        <div flex-xs="60" flex-gt-xs="70" flex-offset="5">
            <h3>Isra Allison</h3>
            <h4>Charlotte, NC</h4>
            <p>I have fifteen years of working in corporate culture, most of which involved long term contract work in the energy sector in learning and development. I also ran a business for 7 years specializing meeting planning and organizing events. I can relate to the government’s preferential treatment of big business over small. I can relate to always having to work more than one job to live comfortably.  The Bernie Sanders movement was a pivotal moment where I had the opportunity to work towards making this country more liveable and the Brand New Congress plan makes perfect sense.</p>
        </div>
    </div>
    <br>
    <hr>
    <a name="maryNishimuta"></a>
    <div layout="row">
        <div flex-xs="30" flex-gt-xs="25">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/team/MaryNishimuta.jpg') }}" alt="">
        </div>
        <div flex-xs="60" flex-gt-xs="70" flex-offset="5">
            <h3>Mary Nishimuta</h3>
            <h4>Frankfort, KY</h4>
            <p>I was attracted to Brand New Congress because it presents a practical solution to the host of seemingly impossible issues our country faces. Simply put, we need a majority of Congress to care more for the people they represent than their own interests. By trade, I am an industrial engineer who optimizes supply chain processes and systems. I also own a small, local cafe in a downtown area. By having one foot in Corporate America and another in Main Street America, I see the massive income inequality and lack of affordable healthcare on a daily basis. With my passion for a political solution and my professional skillsets, I focus on building the processes and systems for Brand New Congress that we need to continue this political revolution.</p>
        </div>
    </div>

    <br>
    <hr>
    <a name="NasimThompson"></a>
    <div layout="row">
        <div flex-xs="30" flex-gt-xs="25">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/team/NasimThompson.jpg') }}" alt="">
        </div>
        <div flex-xs="60" flex-gt-xs="70" flex-offset="5">
            <h3>Nasim Thompson</h3>
            <h4>Los Angeles, CA</h4>
            <p>This campaign season was the first one where I heard a candidate speaking to me about the issues I cared about, and because of that I threw myself into politics in a way I never had before. Brand New Congress gives us another opportunity to build on the momentum from the presidential campaign season and finally stop the influence of big money in politics and the lack of representation in our government. I come from a background of communications work, most recently working for local public radio in California.</p>
        </div>
    </div>
</div>



{% endblock contentType %}