{% extends 'SitetheoryStreamBundle::Excerpt-VisualList.html.twig' %}


{% block link %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheoryprofile/css/Profile.css') }}">

{% endblock link %}






{#
########
SETTINGS
########
#}

{% set stratusApi = '{"limit": "200"}' %}

{# Set Batch Limit for List #}
{% if listBatch is not defined %}
    {% set listBatch = 1 %}
{% endif %}

{% set listType = 'custom' %}

{#
{% set listAttributes = 'md-cols-xs="1" md-cols-gt-xs="2" md-row-height-xs="4:6" md-row-height-sm="4:7"  md-row-height-md="7:6" md-row-height-gt-md="5:5"' %}
#}


{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}



{# Temporary Hard Coded Side Menu #}
{% set sectionNameHardCoded = 'Candidates' %}
{% set sectionMenuHardCoded = '1' %}
{% set sectionMenuActive = 'drafteesActive' %}



{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}



{% block contentType %}
    <div id="candidateListPage" class="profileList">

        <p class="textCenter pullout">We are excited to announce our first candidates! Several more candidates will be announcing their campaigns next week and in the weeks to come.</p>

        <div class="">
            <div id="profileList">
                {{ parent() }}
            </div>
        </div>
    </div>
{% endblock contentType %}

{% block listItem %}
    <div class="gridColumn" ng-repeat="model in collection.models">
        <div class="profileContainer">
            <div class="profileItem" layout="column">
                <div class="clearfix">
                    <h2 class="fontTertiary">{% verbatim %}<a
                           ng-href="{{ model.data.routingPrimary.url }}">{{ model.data.version.title }}</a>{% endverbatim %}</h2>
                    <div class="profileImage">
                        <a ng-href="{% verbatim %}{{ model.data.routingPrimary.url }}{% endverbatim %}">
                            <img stratus-src="{% verbatim %}{{ image.url }}{% endverbatim %}"
                                 ng-repeat="image in model.data.version.images | limitTo:1">
                            <img ng-show="!model.data.version.images.length" src="{{ asset('bundles/sitetheoryprofile/images/profilePlaceholder.png') }}">
                        </a>
                    </div>
                    <h4>{% verbatim %}{{ model.data.version.meta.position }}{% endverbatim %}</h4>
                </div>
                <div class="profileExtra backgroundDark">
                    <div class="starLeft starWhite">
                        <div class="starRight starWhite">
                            <div class="starText fontPrimary textCenter">
                                {% verbatim %}{{ model.data.version.subtitle }}{% endverbatim %}
                            </div>
                            {# FIXME: The locations below are not completely bug free, so we're using subtitles above
                            <div ng-repeat="location in model.data.version.meta.locations"
                                 class="starText fontPrimary textCenter">
                                {% verbatim %}{{ location }}{% endverbatim %}
                            </div>
                            #}
                        </div>
                    </div>
                </div>
                <p class="profileBody">
                    <span class="profileBodyText" ng-bind-html="model.data.version.text | truncate:{limit: 210}"></span>
                    <a class="readMore fontBody"
                       ng-href="{% verbatim %}{{ model.data.routingPrimary.url }}{% endverbatim %}">Read More</a>
                </p>
            </div>
        </div>
    </div>
{% endblock listItem %}