{% extends 'SitetheoryStreamBundle::Excerpt-VisualList.html.twig' %}


{% block link %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheoryprofile/css/Profile.css') }}">

{% endblock link %}






{#
########
SETTINGS
########
#}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}



{# Temporary Hard Coded Side Menu #}
{% set sectionNameHardCoded = 'Candidates' %}
{% set sectionMenuHardCoded = '1' %}
{% set sectionMenuActive = 'drafteesActive' %}



{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}



{%  block contentType %}
<div id="candidateListPage" class="profileList">

    <p class="textCenter pullout">We are excited to announce our first potential candidates! We need to convince them we have the support needed to run their campaign.</p>


    <h1>Our Draftees</h1>
    <div class="borderDashedBold">
        <div id="profileList">
            {{ parent() }}
        </div>
    </div>
</div>
{%  endblock contentType %}





{% block listRow %}
    {% verbatim %}
    <div class="profileContainer">
        <div class="profileItem" layout="column">
            <div class="clearfix" flex-order="2" flex-order-gt-xs="1">
                <div class="profileImage">
                    <a href="/candidates/linda-wayman"><img ng-src="image.url" ng-repeat="image in model.data.viewVersion.images"></a>
                </div>
                <h2>{{ model.data.viewVersion.title }}</h2>
                <h4>{{ model.data.viewVersion.position }}</h4>
                <p class="profileBody">{{ model.data.viewVersion.description }}
                    <a class="readMore fontBody" href="/candidates/linda-wayman">Read More</a>
                </p>
            </div>
            <div class="profileExtra backgroundDark" flex-order="1" flex-order-gt-xs="2">
                <div class="starLeft starWhite">
                    <div class="starRight starWhite">
                        <div ng-repeat="location in model.data.viewVersion.meta.locations" class="starText fontPrimary textCenter">
                                {{ location }}
                            Pennsylvania 1st
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock listRow %}