{% extends 'SitetheoryStreamBundle::Landing.html.twig' %}

{# Load Site CSS #}
{% block link %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/candidateLanding.css') }}">


{% endblock link %}


{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-sm' %}
{% set columnMain = '' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}

{#
NOTE: this should be converted to the Candidate Landing Stream
#}

{% block contentType %}
    <div id="candidateLanding" class="positionAnchor">

        <div id="candidateLandingHeader" class="positionAll">

            <div class="siteMaxWidth siteSidePadding clearfix">
                <h1 class="fontTertiary" {{ block('editableContent') }} data-type="text" data-property="version.title"
                    data-render="click">
                    {{ content.version.title }}
                </h1>
                <h4 class="pageSubTitle" {{ block('editableContent') }} data-type="text" data-property="version.title"
                    data-render="click">
                    {{ content.version.subtitle }}
                </h4>
            </div>
        </div>

    </div>


    <div class="content" data-type="editor" data-property="version.text" {{ block('editableContentAttributes') }}>
        {% autoescape false %}
            {{ content.version.text }}
        {% endautoescape %}
    </div>

    </div>
{% endblock contentType %}


