{% extends 'SitetheoryCoreBundle:Core:ListBase.html.twig' %}

{% set stratusTarget = 'Stream' %}

{#
    {% extends view.templates.shell %}
    This is the base list page for streams, which can be extended for different layouts.
    It takes it's inspiration from the SitetheoryCoreBundle:View/ViewList.html.twig
#}

{% block link %}
    {{ parent() }}
    {# TODO: load different streams based on layout selected #}
    {% stylesheets '@SitetheoryStreamBundle/Resources/public/css/Stream.less' filter='less' filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/landing.css') }}">
{% endblock link %}




{# TEMPLATE SHELL ADJUSTMENTS - These will be the same for most home page streams #}




{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set bootstrapColumnSidebar = 'hide-gt-sm' %}

{# Sidebar is hidden on desktop so main column is full width #}
{% set bootstrapColumnMain = '100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Hide page title #}
{% block pageTitle %}
{% endblock pageTitle %}

{# Remove shell vertical content padding class to replace with stream padding #}
{% set shellContentStructure = 'siteMaxWidth siteSidePadding' %}


{% block listData %}
    <div class="clearfix">
        {# Home Landing Layout #}

        <div id="homeSlides">
            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/slideshow1.jpg') }}" alt="">
        </div>

        <div id="welcome" class="shellVerticalPadding divCenter align-center">
            <p class="bodyLarge fontSecondary">We’re recruiting and running 400+ candidates as a single, unified campaign for Congress in 2018. They will pass a radical and practical plan to increase the wages of the bottom 90%, remove the influence of money in our government, and restore our civil liberties. Americans are hungry to rebuild their country together with everyone from every community, region, race and culture. </p>
        </div>

        <div id="homeJoin">
            <h4 class="align-center">Join us to elect a Brand New Congress</h4>
            <div class="backgroundDark">
                <h1 class="align-center">Add Your Name</h1>
            </div>

            <div id="homeJoinForm">
                <p class="fontSecondary align-center"><strong>I will support candidates of integrity for 2018.</strong></p>
                <ul class="listInline divCenter fontSecondary">
                    <li>
                        <div class="fakeFormBox">Email</div>
                    </li>
                    <li>
                        <div class="fakeFormBox">Zip</div>
                    </li>
                    <li>
                        <div class="fakeFormSubmit"><a class="btn">Count Me In</a></div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="pressLogos" class="borderDashedBold shellVerticalPadding">
            <div layout="row" layout-wrap>
                <div flex="100" flex-gt-xs="50">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressLogos1.jpg') }}" alt="">
                </div>
                <div flex="100" flex-gt-xs="50">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressLogos2.jpg') }}" alt="">
                </div>
            </div>
        </div>

        <div class="sectionBorder backgroundDark"></div>

        <div id="homeCandidates" class="shellVerticalPadding align-center">
            <h4>Introducing the</h4>
            <h1>Candidates</h1>

            <div layout="row" layout-wrap>
                <div flex-xs="100" flex-sm="33" flex-gt-sm="25" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Linda Wayman</p>
                                <p class="title fontTertiary">Educator</p>
                            </div>
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/LindaWayman.jpg') }}" alt="">
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Pennsylvania 1st
                                </p>
                            </div>
                            <div class="drafted smallLabel salmonText">Drafted</div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100" flex-sm="33" flex-gt-sm="25" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Jordyn Lexton</p>
                                <p class="title fontTertiary">Fellowship Founder</p>
                            </div>
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/JordynLexton.jpg') }}" alt="">
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    New York 12th
                                </p>
                            </div>
                            <div class="drafted smallLabel salmonText">Drafted</div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100" flex-sm="33" flex-gt-sm="25" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Tynisha Tyson</p>
                                <p class="title fontTertiary">Social Worker</p>
                            </div>
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/TynishaTyson.jpg') }}" alt="">
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Connecticut 1st
                                </p>
                            </div>
                            <div class="drafted smallLabel salmonText">Drafted</div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100" flex-sm="33" flex-gt-sm="25" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Chardo Richardson</p>
                                <p class="title fontTertiary">Lawyer &amp; Veteran</p>
                            </div>
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/ChardoRichardson.jpg') }}" alt="">
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Florida 9th
                                </p>
                            </div>
                            <div class="drafted smallLabel salmonText">Drafted</div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100" flex-sm="33" flex-gt-sm="25" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Michael Franklin</p>
                                <p class="title fontTertiary">High School Teacher</p>
                            </div>
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/MichaelFranklin.jpg') }}" alt="">
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Tennessee 4th
                                </p>
                            </div>
                            <div class="drafted smallLabel salmonText">Drafted</div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100" flex-sm="33" flex-gt-sm="25" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Rodrigo Saenz</p>
                                <p class="title fontTertiary">Engineer</p>
                            </div>
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/RodrigoSaenz.jpg') }}" alt="">
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Texas 34th
                                </p>
                            </div>
                            <div class="drafted smallLabel salmonText">Drafted</div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100" flex-sm="33" flex-gt-sm="25" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Kurt Rietema</p>
                                <p class="title fontTertiary">Youth Pastor</p>
                            </div>
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/KurtRietema.jpg') }}" alt="">
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Kansas 3rd
                                </p>
                            </div>
                            <div class="drafted smallLabel salmonText">Drafted</div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100" flex-sm="33" flex-gt-sm="25" hide-xs hide-sm class="candidateColumn">
                    <div class="candidateContainer tempCandidateAsk">
                        <a href="">
                            <div class="candidateImage positionAnchor purple">

                                <div class="candidateInfo">
                                    <p class="adText fontSecondary">Do you know a community leader that would make a great representative?</p>
                                    <div class="title fontTertiary starLeft">
                                        <p class="starRight">Nominate</p>
                                        <div class="animatedUnderline"></div>
                                    </div>
                                </div>
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/candidateAsk.jpg') }}" alt="">
                            </div>
                            <div class="borderDashed">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="candidatesAction" class="fontSecondary borderDashedBold shellVerticalPadding align-center">
            <h4>A national campaign frees our candidates</h4>
            <p class="bodyLarge">To serve the people, not special interests.</p>
            <a class="btn" href="https://secure.actblue.com/contribute/page/bncsignup" target="_blank">Contribute</a>
        </div>
        <div class="sectionBorder backgroundDark"></div>

        <div id="homeSpecifics" class="shellVerticalPadding align-center">
            <h4>All the</h4>
            <h1>Specifics</h1>
            <div id="homeImageLinks">
                <div layout="row" layout-wrap>
                    <div flex="100" flex-gt-xs="33">
                        <a class="backgroundDark" href="/">
                            <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/imageLinkPlan.jpg') }}" alt="">
                        </a>
                    </div>
                    <div flex="100" flex-gt-xs="33">
                        <a  class="backgroundDark" href="/">
                            <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/imageLinkAbout.jpg') }}" alt="">
                        </a>
                    </div>
                    <div flex="100" flex-gt-xs="33">
                        <a  class="backgroundDark" href="/">
                        <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/imageLinkVolunteer.jpg') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sectionBorder backgroundDark"></div>

        <div id="homeCurrent" class="shellVerticalPadding">
            <div layout="row" layout-wrap>
                <div flex="100" flex-gt-xs="50">
                    <div id="currentMedia">
                        <h1>Watch</h1>
                        <div class="borderDashedBold clearfix">
                            <div class="mediaItem">
                                <div class="mediaHeader">
                                    <div class="date pullRight">11.23.16</div>
                                    <h2 class="purpleText">On Rachel Maddow</h2>
                                </div>
                                <div class="iframeVideoWrapper">
                                    <iframe width="550" height="300" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbrandnewcongress%2Fvideos%2F844761672323970%2F&amp;show_text=0" frameborder="0" allowfullscreen="" data-reactid="95"></iframe>
                                </div>
                            </div>
                            <div class="mediaItem">
                                <div class="mediaHeader">
                                    <div class="date pullRight">11.23.16</div>
                                    <h2 class="purpleText">Now This</h2>
                                </div>
                                <div class="iframeVideoWrapper">
                                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FNowThisElection%2Fvideos%2F1255138781184276%2F&amp;show_text=0" width="550" height="300" frameborder="0" allowfullscreen="" data-reactid="98"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex="100" flex-gt-xs="50">
                    <div id="currentSocial">
                        <h1>Comment</h1>
                        <div class="borderDashedBold clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock listData %}


