{% extends '@BNCSitetheoryStream/Landing-Candidate.html.twig' %}


{% block TMPcandidateLandingEndorsements %}

    <div ng-cloak="true" id="bncArea">
        <div class="moduleBody">
            <div class="BNCmark">
                <a href="{{ environment.site.domainPrimary ? '//' ~ environment.site.domainPrimary : '' }}/">
                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/BNClogoMarkOnly.png') }}"
                         alt="Brand New Congress Logo">
                </a>
            </div>
            <h2 class="fontTertiary">About Brand New Congress</h2>
            <div class="intro">
                <p>
                    I am joining a team with hundreds of other candidates in a single campaign to rebuild our country.
                </p>
            </div>
            <div class="planGraphic">
                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/planGraphicPurple.png') }}"
                     alt="Brand New Congress Plan">
            </div>
            <p class="body">
                {% verbatim %}
                BNC candidates like {{ model.data.version.title }} are completely funded by small donations from real Americans.
                As a {{ model.data.version.custom.officeLabel }}, {{ candidateFirstName }} will be free to serve, rather than
                fundraise and meet with lobbyists. {{ candidateFirstName }} will work for all Americans without pressure from
                corporations and special interests.
                {% endverbatim %}
            </p>
            <p class="body">
                <strong>
                    {% verbatim %}
                    It will take millions of dollars and thousands of volunteers to elect a corruption-free Congress, so
                    consider supporting {{ model.data.version.title }} now. Every dollar matters.
                    {% endverbatim %}
                </strong>
            </p>
            <div class="clearfix" id="bncAreaCTA">
                <a class="btn btnSalmon btnDonate" ng-href="{% verbatim %}{{ urlDonate }}{% endverbatim %}"
                   target="_blank">
                    Donate
                </a>
                <a class="btn btnVolunteer"
                   ng-href="{{ environment.site.domainPrimary ? '//' ~ environment.site.domainPrimary : '' }}/volunteer?candidate={% verbatim %}{{ candidateSlug }}{% endverbatim %}">
                    Volunteer
                </a>
            </div>
        </div>
    </div>
{% endblock TMPcandidateLandingEndorsements %}




