{% extends 'SitetheoryStreamBundle::Landing.html.twig' %}


{#
########
SETTINGS
########
#}

{# TEMPLATE SHELL ADJUSTMENTS - These will be the same for most home page streams #}

{% set headerFull = true %}

{% set sectionMenuActive = '' %}
{% set sectionMenuHardCoded = '' %}

{# Header image exists #}
{% set streamClass = 'landingStream' %}

{# Hide sidebar on desktop #}
{% set columnSidebar = 'hide-gt-xs' %}
{% set columnMain = 'flex=100' %}

{# Hide gutter in main column #}
{% block mainColumnGutter %}
{% endblock mainColumnGutter %}

{# Remove standard header image #}
{% block headerImageInsideHeader %}
{% endblock headerImageInsideHeader %}

{# Hide page title #}
{% block pageTitle %}
{% endblock pageTitle %}

{# Remove shell vertical content padding class to replace with stream padding #}
{% set shellContentStructure = 'siteMaxWidth siteSidePadding' %}



{#
################
CSS & JAVASCRIPT
################
#}

{% block link %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitetheorytemplatecustom/css/landing.css') }}">
{% endblock link %}

{% block script %}
    {{ parent() }}
    {# Code for Facebook Page Plugin: #FB-feedComponent #}
    <script id="facebook-jssdk" async="true" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=162487723815676"></script>
{% endblock script %}





{#
######
LAYOUT
######
#}

{% block body %}
    {# Code for Facebook Page Plugin: #FB-feedComponent (script manually added to head to try to delay it) #}
    <div id="fb-root"></div>

    {{ parent() }}

{% endblock body %}


{# NOTE: this page is a stream, but we are currently hard coding everything, so we shouldn't use the majority of the contentType block in the ListBase.html.twig. So instead we are currently just overwriting the entire ContentType block #}

{% block contentType %}

    {# Home Landing Layout #}
    <div class="clearfix">

        <a href="/Candidates">
            <div id="announcementBanner">
                <div layout="row" layout-align="center center">
                    <div flex="none" id="newsLabel" class="salmon fontPrimary">News</div>
                    <div flex="none" hide-xs hide-sm class="date fontPrimary">Dec 12</div>
                    <p flex="grow" id="announcement" class="fontBody textCenter">We’ve announced our first 5 potential candidates. Help us convince them to run!<span hide-xs class="learnMore smallLabel salmonText">Learn More</span></p>
                    <div flex="none" hide-xs class="doubleArrow fontTertiary"> >> </div>
                </div>
            </div>
        </a>
        <div id="homeSlides">
            <div id="slidesContent" class="textCenter">
                <div id="slideText1" class="fontPrimary starLeft">
                    <div class="starRight">Our Goal</div>
                </div>
                <p class="bodyLarge">Elect a Brand New Congress that works for all Americans.</p>
                <div flex="nogrow" id="h4Container" layout="row">
                    <div flex class="borderDashedLight">&nbsp;</div>
                    <div flex-xs="100" flex-sm="60" flex-gt-md="none">
                        <h4 class="yellowText">We’re running 400+ candidates in a single campaign to rebuild our country.
</h4>
                    </div>
                    <div flex class="borderDashedLight">&nbsp;</div>
                </div>
            </div>
        </div>

        <div id="homeJoin">
            <div class="shellVerticalPadding">
                <div class="backgroundDark">
                    <h1 class="textCenter">Add Your Name</h1>
                </div>

                <div id="homeJoinForm" class="joinForm">
                    <p class="fontSecondary textCenter"><strong>Join us if you believe it’s time to reset our democracy.</strong></p>
                    {{ block('registrationForm') }}
                </div>
            </div>
        </div>

        <div class="borderDashedBold">
            <div id="welcome" class="divCenter textCenter shellVerticalPadding">
                <div class="content bodyLarge fontSecondary" ng-model="model.data.viewVersion.text" {{ block('editableViewAttributes') }}>
                    {% autoescape false %}
                        {{ view.viewVersion.text }}
                    {% endautoescape %}
                </div>
            </div>
        </div>


        <div id="pressLogos" class="shellVerticalPadding">
            <div layout="row" layout-wrap>
                <div flex="100" flex-gt-md="50">
                    <div class="clearfix">
                        <div id="WaPO" class="pressLogo">
                            <a href="https://www.washingtonpost.com/opinions/the-sanders-movement-is-only-just-beginning/2016/08/09/228b8744-5d87-11e6-9d2f-b1a3564181a1_story.html?utm_term=.dd59cf8877af" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressWaPo.png') }}" alt="Washington Post">
                            </a>
                        </div>
                        <div id="WSJ" class="pressLogo">
                            <a href="http://www.wsj.com/articles/sanders-supporters-seek-to-make-his-liberal-agenda-endure-1462485056" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressWSJ.png') }}" alt="Wall Street Journal">
                            </a>
                        </div>
                        <div id="Wired" class="pressLogo">
                            <a href="https://www.wired.com/2016/05/bernie-wont-get-nomination-online-army-isnt-done/" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressWired.png') }}" alt="Wired">
                            </a>
                        </div>
                        <div id="HuffPo" class="pressLogo">
                            <a href="http://www.huffingtonpost.com/entry/bernie-sanders-congress_us_5720e608e4b0b49df6a9c933" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressHuffPo.png') }}" alt="The Huffington Post">
                            </a>
                        </div>
                        <div id="Beast" class="pressLogo">
                            <a href="http://www.thedailybeast.com/articles/2016/05/02/where-does-the-bernie-sanders-movement-go-from-here.html" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressBeast.png') }}" alt="The Daily Beast">
                            </a>
                        </div>
                        <div id="Slate" class="pressLogo">
                            <a href="http://www.slate.com/articles/news_and_politics/the_next_20/2016/09/ralph_nader_and_the_tragedy_of_voter_as_consumer_politics.html" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressSlate.png') }}" alt="Slate">
                            </a>
                        </div>
                    </div>
                </div>
                <div flex="100" flex-gt-md="50">
                    <div class="clearfix">
                        <div id="Nation" class="pressLogo">
                            <a href="https://www.thenation.com/article/is-brand-new-congress-the-future-of-progressive-politics/" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressTheNation.png') }}" alt="The Nation">
                            </a>
                        </div>
                        <div id="Frisky" class="pressLogo">
                            <a href="http://www.thefrisky.com/2016-06-17/bernie-sanders-supporters-launch-brand-new-congress-as-the-next-chapter-of-his-political-revolution/" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressTheFrisky.png') }}" alt="The Frisky">
                            </a>
                        </div>
                        <div id="Salon" class="pressLogo">
                            <a href="http://www.salon.com/2016/07/24/whats_next_for_the_bernie_sanders_revolution_meet_the_groups_keeping_up_his_fight_for_progressive_values/" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressSalon.png') }}" alt="Salon">
                            </a>
                        </div>
                        <div id="Bustle" class="pressLogo">
                            <a href="https://www.bustle.com/articles/167209-what-is-brand-new-congress-its-one-thing-bernie-sanders-supporters-can-do-next" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressBustle.png') }}" alt="Bustle">
                            </a>
                        </div>
                        <div id="Boing" class="pressLogo">
                            <a href="http://boingboing.net/2016/04/26/brand-new-congress-535-progre.html" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressBoingBoing.png') }}" alt="Boing Boing">
                            </a>
                        </div>
                        <div id="RollCall" class="pressLogo">
                            <a href="http://www.rollcall.com/news/politics/whats-next-sanders-backers-replace-entire-congress" target="_blank">
                                <img src="{{ asset('bundles/sitetheorytemplatecustom/images/pressRollCall.png') }}" alt="Roll Call">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sectionBorder backgroundDark"></div>

        <a name="homeCandidates"></a>
        <div id="homeCandidates" class="shellVerticalPadding textCenter">
            <h4>Candidate</h4>
            <h1>Draftees</h1>

            <p class="intro fontSecondary">These potential candidates represent the mix of public servants, entrepreneurs, local leaders, and national figures that we’re drafting. <strong>None of these people have yet agreed to run</strong> because they are all very committed to their causes and are not yet convinced they should take a leap of faith with Brand New Congress. But we have vetted them all and gotten to know them, so we would love to convince them to run by showing them that we have the support necessary to win. <a href='/Candidates'>Help us convince them to run!</a></p>

            <div layout="row" layout-wrap ng-cloak>
                <div flex-xs="100"  flex-gt-xs="33" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Linda Wayman</p>
                                <p class="title fontTertiary">Educator</p>
                            </div>
                            <a href="/Candidates">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/LindaWayman.jpg') }}" alt=""></a>
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Pennsylvania 1st
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100"  flex-gt-xs="33" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Jordyn Lexton</p>
                                <p class="title fontTertiary">Fellowship Founder</p>
                            </div>
                            <a href="/Candidates">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/JordynLexton.jpg') }}" alt=""></a>
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    New York 12th
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100"  flex-gt-xs="33" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Tynisha Tyson</p>
                                <p class="title fontTertiary">Social Worker</p>
                            </div>
                            <a href="/Candidates">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/TynishaTyson.jpg') }}" alt=""></a>
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Connecticut 1st
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100"  flex-gt-xs="33" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Chardo Richardson</p>
                                <p class="title fontTertiary">Civil Rights Lawyer</p>
                            </div>
                            <a href="/Candidates">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/ChardoRichardson.jpg') }}" alt=""></a>
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Florida 9th
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100"  flex-gt-xs="33" class="candidateColumn">
                    <div class="candidateContainer">
                        <div class="candidateImage positionAnchor">
                            <div class="profileGradient"></div>
                            <div class="candidateInfo">
                                <p class="name fontSecondary">Kurt Rietema</p>
                                <p class="title fontTertiary">Youth Pastor</p>
                            </div>
                            <a href="/Candidates">
                            <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/KurtRietema.jpg') }}" alt=""></a>
                        </div>
                        <div class="borderDashed">
                            <div class="candidateDistrict fontPrimary starLeft divCenter">
                                <p class="starRight">
                                    Kansas 3rd
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex-xs="100"  flex-gt-xs="33" hide-xs hide-sm class="candidateColumn">
                    <div class="candidateContainer tempCandidateAsk">
                        <a href="/Nominate">
                            <div class="candidateImage positionAnchor purple">
                                <div class="candidateInfo">
                                    <p class="adText fontSecondary">Do you know a community leader that would make a great representative?</p>
                                    <div class="title fontTertiary starLeft">
                                        <p class="starRight">Nominate</p>
                                        <div class="animatedUnderline"></div>
                                    </div>
                                </div>
                                    <img src="{{ asset('bundles/sitetheorytemplatecustom/images/candidates/candidateAsk.jpg') }}" alt="">
                            </div>
                            <div class="borderDashed">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="candidatesAction" class="fontSecondary borderDashedBold shellVerticalPadding textCenter">
            <h4>Our candidates won't be backed by big money</h4>
            <p class="bodyLarge">So they can serve voters not donors.</p>
            <a class="btn" href="https://secure.actblue.com/contribute/page/bncsignup" target="_blank">Donate</a>
        </div>
        <div class="sectionBorder backgroundDark"></div>

        <div id="homeSpecifics" class="shellVerticalPadding textCenter">
            <h4>All the</h4>
            <h1>Specifics</h1>
            <div id="homeImageLinks" ng-cloak>
                <div layout="row" layout-wrap>
                    <div flex="100" flex-gt-xs="33">
                        <a class="backgroundDark" href="/The-Plan">
                            <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/imageLinkPlan.jpg') }}" alt="">
                        </a>
                    </div>
                    <div flex="100" flex-gt-xs="33">
                        <a  class="backgroundDark" href="/Nominate">
                            <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/imageLinkNominate.jpg') }}" alt="">
                        </a>
                    </div>
                    <div flex="100" flex-gt-xs="33">
                        <a  class="backgroundDark" href="/Volunteer">
                            <img class="easyTransition" src="{{ asset('bundles/sitetheorytemplatecustom/images/imageLinkVolunteer.jpg') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sectionBorder backgroundDark"></div>

        <div id="homeCurrent" class="shellVerticalPadding" ng-cloak>
            <div layout="row" layout-wrap>
                <div flex="100" flex-gt-xs="50">
                    <div id="currentMedia">
                        <h1>Watch</h1>
                        <div id="currentMediaContainer" class="borderDashedBold clearfix">
                            <div class="mediaItem">
                                <div class="mediaHeader">
                                    <div class="date pullRight">11.23.16</div>
                                    <h2 class="purpleText">On Rachel Maddow</h2>
                                </div>
                                <div class="iframeVideoWrapper">
                                    <iframe width="550" height="300" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbrandnewcongress%2Fvideos%2F844761672323970%2F&amp;show_text=0" frameborder="0" allowfullscreen="" data-reactid="95"></iframe>
                                </div>
                            </div>
                            <div class="mediaItem">
                                <div class="mediaHeader">
                                    <div class="date pullRight">11.23.16</div>
                                    <h2 class="purpleText">Now This</h2>
                                </div>
                                <div class="iframeVideoWrapper">
                                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FNowThisElection%2Fvideos%2F1255138781184276%2F&amp;show_text=0" width="550" height="300" frameborder="0" allowfullscreen="" data-reactid="98"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="FB-feedParent" flex="100" flex-gt-xs="50">
                    <h1>Comment</h1>
                    <div id="currentSocial">

                        {# Script to fix the facebook resize issue #}
                        <script>
                            // Use Require.js or Contextual Scope
                            (function (root, factory) {
                                if (typeof require === 'function') {
                                    require(['stratus'], factory);
                                } else {
                                    factory(root.Stratus);
                                }
                            }(this, function (Stratus) {

                                Stratus.DOM.complete(function () {

                                    ////////////////////
                                    // Custom Variables
                                    ////////////////////
                                    var facebookPageName = 'Brand New Congress';
                                    var facebookPageId  = 'brandnewcongress';
                                    var containerId = 'facebookPageContainer';
                                    var relatedContainerId = 'currentMediaContainer';
                                    var relatedContainerOffset = -150;


                                    ////////////////
                                    // Setup
                                    ////////////////
                                    var container           = document.getElementById(containerId);
                                    var relatedContainer    = document.getElementById((relatedContainerId || containerId));
                                    var loadJob;

                                    ////////////////
                                    // Functions
                                    ////////////////
                                    function resizePlugin() {
                                        // Manually resize Facebook Plugin's span and iframe to be 100%
                                        var plugin = document.querySelector('.fb-page')
                                        var containerSpan = plugin.querySelector('span');
                                        containerSpan.style.width="100%";
                                        var iframe = plugin.querySelector('iframe');
                                        iframe.width = "100%";
                                        iframe.style.width = "100%";
                                        // FB has max 500px, scale if it's bigger so it fits in space at least
                                        var maxWidth = 500;
                                        var width = container.offsetWidth;
                                        if(width > maxWidth) {
                                            var scale = width/maxWidth;
                                            iframe.style.transform = 'scale('+scale+')';
                                            iframe.style['transform-origin'] = '0 0';
                                        }
                                    };
                                    function loadPlugin() {
                                        // Get height of the related Container (e.g. in another column)
                                        var height          = relatedContainer.offsetHeight;
                                        height = height > 0 ? (height  + relatedContainerOffset) : height;
                                        var width           = container.offsetWidth;
                                        var minHeight       = 500;
                                        var minWidth        = 500;
                                        height = height < minHeight ? minHeight : height;
                                        width = width < minWidth ? minWidth : width;

                                        // Facebook Page Plugin Code
                                        var content = '<div class="fb-page" data-href="https://www.facebook.com/'+facebookPageId+'" data-tabs="timeline" data-width="'+width+'" data-height="'+height+'" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div><blockquote cite="https://www.facebook.com/'+facebookPageId+'" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/'+facebookPageId+'">'+facebookPageName+'</a></blockquote>';

                                        // Empty Container
                                        while(container.firstChild){ container.removeChild(container.firstChild); }

                                        // Add Plugin
                                        container.innerHTML = content;

                                        // Parse Plugin
                                        FB.XFBML.parse();
                                    };

                                    // Register Resize after Plugin is Rendered
                                    FB.Event.subscribe('xfbml.render', function() {
                                        resizePlugin();
                                    });


                                    // (HACK): LoadPlugin does not resize height correctly on Load because it does not know the correct height so we delay it until the height is set
                                    loadJob = Stratus.Chronos.add(0.2, function() {
                                        // hard code a bit less than related contaier
                                        if(relatedContainer.offsetHeight > 0) {
                                            Stratus.Chronos.disable(loadJob);
                                            loadPlugin();
                                        }
                                    }, this);
                                    Stratus.Chronos.enable(loadJob);

                                    // Reload on Resize
                                    window.onresize = function() { loadPlugin(); };

                                });
                            }));
                        </script>
                        <div id="facebookPageContainer" class="borderDashedBold clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock contentType %}


